{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('verification-payment').site('usersEn').one() %}
    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <ul>
        <li>Amount paid: €{{total}}</li>
        <li>Payment date: {{ date }}</li>
    </ul>
    {{ mailingContent.mailing2 }}
{% endblock %}