{% extends "email/base.twig" %}
{% block content %}
    <p>Er is een nieuwe print aanvraag:</p>
    <ul>
        <li>Lidnummer: {{ name }}</li>
        <li>Lidnummer: {{ id }}</li>
        <li>Lidtype: {{ memberType }}</li>
        <li>Adres: {{ street }} {{ number}}, {{ postalcode }} {{ city }} {{ country }}</li>
    </ul>
{% endblock %}