<div class="box__wrapper box__wrapper--labels" x-show="!editBday">
    {% if selectedMember.inGroup('members') and isAdmin %} 
        <div class="box__column box__column--4 box__column--flex-between">
            <h3>{{'Persoonsgegevens'|t}}</h3>
            <button class="box__function-btn" @click="editBday = true">{{'Wijzigen'|t}} {{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
        </div>
    {% else %}                        
        {% include "components/subtitle-box.twig" with {
            subtitle: 'Persoonsgegevens'|t
        } %}
    {% endif %}
    
    {% if selectedMember.inGroup('members') %}                    
        {% include "components/info-box.twig" with {
            span: 2, 
            label: 'Voornaam'|t, 
            info: selectedMember.altFirstName
        } %}
        {% include "components/info-box.twig" with {
            span: 2, 
            label: 'Familienaam'|t, 
            info: selectedMember.altLastName
        } %}
    {% else %}
        {% include "components/info-box.twig" with {
            span: 2, 
            label: 'Organisatie'|t, 
            info: selectedMember.organisation
        } %}
        {% include "components/info-box.twig" with {
            span: 2, 
            label: 'Contactpersoon'|t, 
            info: selectedMember.contactPerson
        } %}
    {% endif %}
    {% include "components/info-box.twig" with {
        span: 2, 
        label: 'E-mail'|t, 
        info: selectedMember.email
    } %}
    {% if selectedMember.inGroup('members') %}
        {% include "components/info-box.twig" with {
            span: 2, 
            label: 'Geboortedatum'|t, 
            info: selectedMember.birthday|date("d/m/Y")
        } %}
    {% else %}
        {% include "components/info-box.twig" with {
            span: 2, 
            label: 'Tel.'|t, 
            info: selectedMember.tel
        } %}
    {% endif %}
</div>
{% if selectedMember.inGroup('members') and isAdmin  %}
    <form x-show="editBday" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('users/save-user') }}
        {{ hiddenInput('userId', selectedMember.id) }}
        {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}
        {{ input('hidden', 'username', selectedMember.email ? selectedMember.email : '') }}
        
        {% include "components/subtitle-box.twig" with {
            subtitle: 'Persoonsgegevens'|t
        } %}               

        <div class="edit__column--2">
            <label class="edit__label" for="alt-first-name">{{'Voornaam'|t}}</label>
            {{ input('text', 'fields[altFirstName]', selectedMember.altFirstName ? selectedMember.altFirstName : null, {
                id: 'alt-first-name',
                required: true,
            }) }}
        </div>
        <div class="edit__column--2">
            <label class="edit__label" for="alt-sur-name">{{'Familienaam'|t}}</label>
            {{ input('text', 'fields[altLastName]', selectedMember.altLastName ? selectedMember.altLastName : null, {
                id: 'alt-sur-name',
                required: true,
            }) }}
        </div>
        <div class="edit__column--2">
            <label class="edit__label" for="email">{{'E-mail'|t}}</label>
            {{ input('text', 'email', selectedMember.email ? selectedMember.email : '', {
                id: 'email',
                required: true,
            }) }}
        </div>
        <div class="edit__column--2">
            <label class="edit__label" for="birthday">{{'Geboortedatum'|t}}</label>
            {{ input('date', 'fields[birthday]', selectedMember.birthday ? selectedMember.birthday|date('Y-m-d') : '', {
                id: 'birthday',
                required: true,
            }) }}
        </div>
        <div class="box__column--flex">
            <button type="submit" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
            <button @click="editBday = false" type="reset" class="box__function-btn box__function-btn--cancel">{{'Annuleer'}}</button>
        </div>
    </form>
{% endif %}