<header class="header" x-data="{openOptions: false}">
    <div class="header__container">    
        <a href="{{ currentSite.baseUrl }}">
            {{ svg("assets/branding/Logo.svg")|attr({class: 'header__logo' }) }}
        </a>
        <div class="header__menu" @click="openOptions = ! openOptions" :class="openOptions ? 'header__menu--open' : 'header__menu--closed'">
            <div class="header__menu-bar header__menu-bar--top"></div>
            <div class="header__menu-bar header__menu-bar--center"></div>
            <div class="header__menu-bar header__menu-bar--bottom"></div>
        </div>
        <div class="header__options" :class="openOptions ? 'header__options--open' : 'header__options--closed'">        
            {% if currentUser %}
                <a class="btn btn--prim" href="{{ logoutUrl }}">Logout</a>
            {% endif %}
            <a class="btn btn--prim " href="{{ craft.entries.section('mainWebsite').one().linkExtern }}">{{'Naar website'|t}}</a>
            {% include "components/language-switcher.twig" %}
        </div> 
    </div>
</header>