{% set user = user ?? currentUser %}
{% set currentUrl = craft.app.request.pathInfo %}

<header class="header" x-data="{openOptions: false}">
    <div class="header__container">    
        <a href="{{ currentSite.baseUrl }}">
            {{ svg("assets/branding/Logo.svg")|attr({class: 'header__logo' }) }}
        </a>
        <div class="header__menu" @click="openOptions = ! openOptions" :class="openOptions ? 'header__menu--open' : 'header__menu--closed'">
            <div class="header__menu-bar header__menu-bar--top"></div>
            <div class="header__menu-bar header__menu-bar--center"></div>
            <div class="header__menu-bar header__menu-bar--bottom"></div>
        </div>
        <div class="header__options" :class="openOptions ? 'header__options--open' : 'header__options--closed'">        
            {% if user and user.getGroups() %}
                {% set userGroup = user.getGroups()|first.handle %}

                {% if userGroup is same as 'membersAdmin' or userGroup is same as 'membersAdminSuper' %}
                    <a class="btn {{ currentUrl is same as 'submissions' ? 'btn--prim-selected' : 'btn--prim' }}" href="submissions">{{'Aanvragen'|t}}</a>
                    <a class="btn {{ currentUrl is same as '' ? 'btn--prim-selected' : 'btn--prim' }}" href="{{currentSite.baseUrl}}">{{'Leden'|t}}</a>
                {% endif %}
            {% endif %}
            {% if not user or user and user.getGroups() and user.getGroups()|first.handle is same as 'members' %}
                <a class="btn btn--prim " href="{{ craft.entries.section('mainWebsite').one().linkExtern }}">{{'Naar website'|t}}</a>
            {% endif %}
            
            {% if currentUser %}
                <a class="btn btn--prim logout" href="{{ logoutUrl }}">{{'Logout'|t}}</a>
            {% else %}
                <a class="btn btn--prim logout" href="{{ currentSite.baseUrl }}">{{'Login'|t}}</a>
            {% endif %}
            {% include "components/language-switcher.twig" %}
        </div> 
    </div>
</header>