{% set maxDate = now|date_modify('-3 years')|date("Y-m-d") %}
{% set memberTypes = craft.entries.section('rates').all() %}

{% set currentDate = now|date('Y-m-d') %}
{% set activeUserMember = user.paymentDate and user.expPaymentDate and currentDate >= user.paymentDate and currentDate <= user.expPaymentDate %}

{% set totalPrice = 0 %}

{% set userRate = user.memberRate.one() %}

{% if not activeUserMember %}
    {% set totalPrice = totalPrice ? totalPrice.add(userRate.price) : userRate.price %}
{% endif %}

{% requireLogin %}

{% if not activeUserMember %}
    <div class="box-error">    
        <div class="box-error__error">
            <p>! {{'Je lidmaatschap is nog niet actief'|t}}</p>
        </div>
    </div>
{% endif %}
<div class="box">
    <div class="box__heading">
        <h1>{{'Mijn gegevens'|t}}</h1>
        <h2>{{'Lidnummer'|t}}: 008 {{ user.id }}</h2>
    </div>
    <div class="box__content" x-data="{ edit: false }">
        <div class="box__wrapper">        
            <div class="box__column box__column--4">            
                <p>{{'Organisation'|t}}</p>
                <div class="box__info">
                    <p>{{ user.organisation|capitalize }}</p>
                </div>
            </div>
        </div>
        <div class="box__wrapper" x-show="!edit">        
            <div class="box__column box__column--2">            
                <p>{{'Contactpersoon'|t}}</p>
                <div class="box__info">
                    <p>{{ user.contactPerson }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>{{'Tel'|t}}</p>
                <div class="box__info">
                    <p>{{ user.tel }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>{{'Land'|t}}</p>
                <div class="box__info">
                    <p>{{ user.country|capitalize }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{'Postcode'|t}}</p>
                <div class="box__info">
                    <p>{{ user.postalCode }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{'Stad'|t}}</p>
                <div class="box__info">
                    <p>{{ user.city|capitalize }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>Straat</p>
                <div class="box__info">
                    <p>{{ user.street|capitalize }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{'Nr'|t}}</p>
                <div class="box__info">
                    <p>{{ user.streetNr }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{ 'Bus'|t }}</p>
                <div class="box__info">
                    <p>{{ user.bus }}</p>
                </div>
            </div>
            <button @click="edit = true" class="box__function-btn">{{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }} Bewerk gegevens</button>
        </div>
        <form x-show="edit" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            {{ csrfInput() }}
            {{ actionInput('users/save-user') }}
            {{ hiddenInput('userId', user.id) }}
            <div class="edit__column--2">
                <label class="edit__label" for="contact-person">{{'Contactpersoon'|t}}</label>
                {{ input('text', 'fields[contactPerson]', user.contactPerson ?? null, {
                    id: 'contact-person',
                    placeholder: 'Contactpersoon',
                    required: true
                }) }}
            </div>
            <div class="edit__column--2">
                <label class="edit__label" for="tel">{{'Tel'|t}}</label>
                {{ input('text', 'fields[tel]', user.tel ?? null, {
                    id: 'tel',
                    placeholder: 'Tel',
                    required: true
                }) }}
            </div>
            <div class="edit__column--2">
                <label class="edit__label" for="country">{{'Land'|t}}</label>
                {{ input('text', 'fields[country]', user.country ?? null, {
                    id: 'country',
                    placeholder: 'Land',
                    required: true
                }) }}
            </div>
            <div class="edit__column">
                <label class="edit__label" for="postal-code">{{'Postcode'|t}}</label>
                {{ input('text', 'fields[postalCode]', user.postalCode ?? null, {
                    id: 'postal-code',
                    placeholder: 'Postcode',
                    required: true
                }) }}
            </div>
            <div class="edit__column">
                <label class="edit__label" for="city">{{'Stad'|t}}</label>
                {{ input('text', 'fields[city]', user.city ?? null, {
                    id: 'city',
                    placeholder: 'Stad',
                    required: true
                }) }}
            </div>
            <div class="edit__column--2">
                <label class="edit__label" for="street">{{ 'Straat'|t }}</label>
                {{ input('text', 'fields[street]', user.street ?? null, {
                    id: 'street',
                    placeholder: 'Straat',
                    required: true
                }) }}
            </div>
            <div class="edit__column--1-4">
                <label class="edit__label" for="number">{{'Nr'|t}}</label>
                {{ input('text', 'fields[streetNr]', user.streetNr ?? null, {
                    id: 'number',
                    placeholder: 'Nr',
                    required: true
                }) }}
            </div>
            <div class="edit__column--1-4">
                <label class="edit__label" for="email">{{ 'Bus'|t }}</label>
                {{ input('text', 'fields[bus]', user.bus ?? null, {
                    id: 'bus',
                    placeholder: 'bus'
                }) }}
            </div>
            <button @click="edit = false" class="box__function-btn box__function-btn--save">{{'Save Profile'|t}}</button>
        </form>
        <div class="box__wrapper">        
            <div class="box__column {{userGroup is same as 'membersOrganisation' ? 'box__column--2' : 'box__column--4'}}">
                <p class="box__text-bold">{{'Lidmaatschap'|t}}</p>
                <div class="box__info box__info--prim">
                    <p>{{ user.memberRate.one().title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{# {% include "components/group-add-extra.twig" %} #}
{% include "components/payment.twig" %} 