{% set extraMembers = craft.entries.section('extraMembers').authorID(user.id).all() %}
{% set maxDate = now|date_modify('-3 years')|date("Y-m-d") %}
{% set memberTypes = craft.entries.section('rates').all() %}

{% set currentDate = now|date('Y-m-d') %}
{% set userBirthDay = user.birthday|date('Y-m-d') %}
{% set memberAge = (currentDate|date('Y') - userBirthDay|date('Y')) - (currentDate|date('md') < userBirthDay|date('md') ? 1 : 0) %}
{% set memberTypeCurrent = memberTypes|filter(i => i.minAge <= memberAge and (i.maxAge is null or i.maxAge >= memberAge)) %}

<div class="box">
    <div class="box__heading">
        <h1>Mijn gegevens</h1>
        <h2>Lidnummer: 008{{ user.id }}</h2>
    </div>
    <div class="box__content">
        <div class="box__wrapper">        
            <div class="box__column box__column--2">            
                <p>Naam</p>
                <div class="box__info">
                    <p>{{ user.altFirstName|capitalize }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>Familienaam</p>
                <div class="box__info">
                    <p>{{ user.altLastName }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>Email</p>
                <div class="box__info">
                    <p>{{ user.email }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>Geboortedatum</p>
                <div class="box__info">
                    <p>{{ user.birthday|date("m/d/Y") }}</p>
                </div>
            </div>
        </div>
        <div class="box__wrapper">        
            <div class="box__column box__column--2">            
                <p>Land</p>
                <div class="box__info">
                    <p>{{ user.country|capitalize }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>Postcode</p>
                <div class="box__info">
                    <p>{{ user.postalCode }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>Stad</p>
                <div class="box__info">
                    <p>{{ user.city|capitalize }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>Straat</p>
                <div class="box__info">
                    <p>{{ user.street|capitalize }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>Huisnummer</p>
                <div class="box__info">
                    <p>{{ user.streetNr }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>Bus</p>
                <div class="box__info">
                    <p>{{ user.bus }}</p>
                </div>
            </div>
        </div>
        <div class="box__column box__column--4">
            <p>Lidmaatschap</p>
            <div class="box__info box__info--prim">
                <p>{{ memberTypeCurrent|first.title }}</p>
            </div>
        </div>
    </div>
</div>
{% if extraMembers|length > 0 %}
<div class="box-container box-container--member">
    <h2>Extra leden</h2>
    {% for item in extraMembers %}
        {% set itemBirthday = item.birthday|date('Y-m-d') %}
        {% set itemAge = (currentDate|date('Y') - userBirthDay|date('Y')) - (currentDate|date('md') < userBirthDay|date('md') ? 1 : 0) %}
        {% set itemTypeCurrent = memberTypes|filter(i => i.minAge <= memberAge and (i.maxAge is null or i.maxAge >= memberAge)) %}
        <div class="box box--member" x-data="{openMember: false}" :class="openMember ? 'box--member-open' : ''">
            <div @click="openMember = ! openMember" class="box__heading box__heading--center">
                <h3>{{item.title}}</h3>
                {{ svg("assets/icons/chevron-down.svg")|attr({class: 'box__icon box__icon--chevron' }) }}
            </div>
            <div class="box__content" x-collapse x-show="openMember">
                <div class="box__wrapper">
                    <div class="box__column box__column--2">            
                        <p>Naam</p>
                        <div class="box__info">
                            <p>{{ item.altFirstName|capitalize }}</p>
                        </div>
                    </div>
                    <div class="box__column box__column--2">            
                        <p>Familienaam</p>
                        <div class="box__info">
                            <p>{{ item.altLastName }}</p>
                        </div>
                    </div>
                    <div class="box__column box__column--2">            
                        <p>Geboortedatum</p>
                        <div class="box__info">
                            <p>{{ item.birthday|date("m/d/Y") }}</p>
                        </div>
                    </div>
                    <div class="box__column box__column--2">            
                        <p>Lidmaatschap</p>
                        <div class="box__info box__info--prim">
                            <p>{{ itemTypeCurrent|first.title }}</p>
                        </div>
                    </div>
                </div>
                <form class="box__delete" method="post" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('entries/delete-entry') }}
                    {{ redirectInput('/') }}
                    {{ input('hidden', 'entryId', item.id) }}
                    <button class="box__delete-button" type="submit" onclick="return confirm('Are you sure you want to delete this member?');">
                        Verwijder {{ item.title }} als extra lid
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="box-container" x-data="{ openForm: false }">
    <div class="formbox formbox--wider formbox--member" :class="openForm ? 'formbox--member-open' : ''">
        <button @click="openForm = ! openForm" class="form__heading box__add">{{ svg("assets/icons/add.svg")|attr({class: 'box__icon box__icon--add' }) }} Persoon toevoegen</button>
        <form x-collapse x-show="openForm" class="formbox__form" method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            {{ actionInput('entries/save-entry') }}

            {{ input('hidden', 'sectionId', craft.entries.section('extraMembers').sectionId|first) }}
            {{ input('hidden', 'fields[parentMember]', user) }}

            <div class="formbox__column">                
                <label class="formbox__label" for="alt-first-name">Voornaam</label>
                {{ input('text', 'fields[altFirstName]', null, {
                    id: 'alt-first-name',
                    placeholder: 'Voornaam',
                    required: true
                }) }}
            </div>
            <div class="formbox__column">                
                <label class="formbox__label" for="alt-sur-namee">Naam</label>
                {{ input('text', 'fields[altLastName]', null, {
                    id: 'alt-sur-name',
                    placeholder: 'Achternaam',
                    required: true
                }) }}
            </div>
            <div class="formbox__column">                
                <label class="formbox__label" for="birthday">Geboortedatum</label>
                {{ input('text', 'fields[birthday]', null, {
                    id: 'birthday',
                    placeholder: 'Geboortedatum',
                    onFocus: "(this.type = 'date', this.placeholder = '')",
                    required: true,
                    max: maxDate
                }) }}
            </div>   
            
            <button class="formbox__button formbox__button--sec formbox__column">Voeg toe</button>
        </form>
    </div>
</div>