{% set extraMembers = craft.entries.section('extraMembers').authorID(user.id).all() %}
{% set maxDate = now|date_modify('-3 years')|date("Y-m-d") %}
{% set memberTypes = craft.entries.section('rates').all() %}
{% set currentDate = now %}
{% set activeUserMember = user.paymentDate and user.expPaymentDate and (now >= user.paymentDate) and (now <= user.expPaymentDate) %}

{% set totalPrice = 0 %}
{% set totalNonActive = 0 %}

{% set userRate = user.memberRate.one() %}

{% if not activeUserMember %}
    {% set totalPrice = totalPrice ? totalPrice.add(userRate.price) : userRate.price %}
{% endif %}

{% for extra in extraMembers %}
    {% set activeExtraMember = extra.paymentDate and extra.expPaymentDate and currentDate >= extra.paymentDate and currentDate <= extra.expPaymentDate %}
    {% set rate = extra.memberRate.one() %}
    {% if not activeExtraMember %}
        {% set totalPrice = totalPrice ? totalPrice.add(rate.price) : rate.price %}
        {% set totalNonActive = totalNonActive + 1 %}
    {% endif %}
{% endfor %}

{% requireLogin %}

{% if not activeUserMember %}
    <div class="box-error">    
        {% if not activeUserMember %}
            <div class="box-error__error">
                <p>! {{'Je lidmaatschap is nog niet actief'|t}}</p>
            </div>
        {% endif %}
        {# {% if totalNonActive > 0 %}
            <div class="box-error__error">
                <p>! {{totalNonActive}} {{'Extra leden zijn niet actief'|t}}</p>
            </div>
        {% endif %} #}
    </div>
{% endif %}
<div class="box">
    <div class="box__heading">
        <h1>{{'Mijn gegevens'|t}}</h1>
        <h2>{{'Lidnummer'|t}}: 008 {{ user.id }}</h2>
    </div>
    <div class="box__content" x-data="{ edit: false }">
        <div class="box__wrapper box__wrapper--labels">        
            <div class="box__column box__column--2">            
                <p>{{'Voornaam'|t}}</p>
                <div class="box__info">
                    <p>{{ user.firstName|capitalize }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>{{'Familienaam'|t}}</p>
                <div class="box__info">
                    <p>{{ user.lastName }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>{{'E-mail'|t}}</p>
                <div class="box__info">
                    <p>{{ user.email }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>{{'Geboortedatum'|t}}</p>
                <div class="box__info">
                    <p>{{ user.birthday|date("m/d/Y") }}</p>
                </div>
            </div>
        </div>
        <div class="box__wrapper box__wrapper--labels" x-show="!edit">        
            <div class="box__column box__column--2">            
                <p>{{'Land'|t}}</p>
                <div class="box__info">
                    <p>{{ user.country|capitalize }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{'Postcode'|t}}</p>
                <div class="box__info">
                    <p>{{ user.postalCode }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{'Stad'|t}}</p>
                <div class="box__info">
                    <p>{{ user.city|capitalize }}</p>
                </div>
            </div>
            <div class="box__column box__column--2">            
                <p>Straat</p>
                <div class="box__info">
                    <p>{{ user.street|capitalize }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{'Nr'|t}}</p>
                <div class="box__info">
                    <p>{{ user.streetNr }}</p>
                </div>
            </div>
            <div class="box__column">            
                <p>{{ 'Bus'|t }}</p>
                <div class="box__info">
                    <p>{{ user.bus }}</p>
                </div>
            </div>
            <button @click="edit = true" class="box__function-btn">{{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }} Bewerk gegevens</button>
        </div>
        <form x-show="edit" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            {{ csrfInput() }}
            {{ actionInput('users/save-user') }}
            {{ hiddenInput('userId', user.id) }}
            <div class="edit__column--2">
                <label class="edit__label" for="country">{{'Land'|t}}</label>
                {{ input('text', 'fields[country]', user.country ?? null, {
                    id: 'country',
                    placeholder: 'Land',
                    required: true
                }) }}
            </div>
            <div class="edit__column">
                <label class="edit__label" for="postal-code">{{'Postcode'|t}}</label>
                {{ input('text', 'fields[postalCode]', user.postalCode ?? null, {
                    id: 'postal-code',
                    placeholder: 'Postcode',
                    required: true
                }) }}
            </div>
            <div class="edit__column">
                <label class="edit__label" for="city">{{'Stad'|t}}</label>
                {{ input('text', 'fields[city]', user.city ?? null, {
                    id: 'city',
                    placeholder: 'Stad',
                    required: true
                }) }}
            </div>
            <div class="edit__column--2">
                <label class="edit__label" for="street">{{ 'Straat'|t }}</label>
                {{ input('text', 'fields[street]', user.street ?? null, {
                    id: 'street',
                    placeholder: 'Straat',
                    required: true
                }) }}
            </div>
            <div class="edit__column--1-4">
                <label class="edit__label" for="number">{{'Nr'|t}}</label>
                {{ input('text', 'fields[streetNr]', user.streetNr ?? null, {
                    id: 'number',
                    placeholder: 'Nr',
                    required: true
                }) }}
            </div>
            <div class="edit__column--1-4">
                <label class="edit__label" for="email">{{ 'Bus'|t }}</label>
                {{ input('text', 'fields[bus]', user.bus ?? null, {
                    id: 'bus',
                    placeholder: 'bus'
                }) }}
            </div>
            <button @click="edit = false" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
        </form>
        <div class="box__wrapper">            
            <div class="box__column {{userGroup is same as 'membersOrganisation' ? 'box__column--2' : 'box__column--4'}}">
                <p class="box__text-bold">{{'Lidmaatschap'|t}}</p>
                <div class="box__info box__info--prim">
                    <p>{{ user.memberRate.one().title }}</p>
                    {% if user.expPaymentDate %}
                        <p>{{'Vervalt op'|t}} {{user.expPaymentDate|date('d-m-Y')}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if extraMembers|length > 0 %}
    {% include "components/user-extras.twig" %}
{% endif %}
{% include "components/user-add-extra.twig" %} 

{% include "components/payment.twig" %} 
