{% set extraMembers = craft.entries.section('extraMembers').parentMember(user.id).all() %}
{% set cardRate = craft.entries.section('rates').memberType('card').one() %}
{% set currentDate = now %}
{% set activeUserMember = user.paymentDate and user.memberDueDate and (now >= user.paymentDate) and (now <= user.memberDueDate) %}
{% set today = now|date('Y-m-d') %}

{% set totalPrice = 0 %}
{% set totalNonActive = 0 %}

{% set userRate = user.memberRate.one() %}

{% if user.requestPrint and not user.payedPrintDate %}
    {% set totalPrice = totalPrice ? totalPrice.add(cardRate.price) : cardRate.price %}
{% endif %}

{% if not activeUserMember and userRate.price|money > 0 %}
    {% set totalPrice = totalPrice ? totalPrice.add(userRate.price) : userRate.price %}
{% endif %}

{% for extra in extraMembers %}
    {% set activeExtraMember = extra.paymentDate and user.memberDueDate and (now >= extra.paymentDate) and (now <= user.memberDueDate) %}
    {% set rate = extra.memberRate.one() %}
    {% if not activeExtraMember %}
        {% set totalPrice = totalPrice ? totalPrice.add(rate.price) : rate.price %}
        {% set totalNonActive = totalNonActive + 1 %}
    {% endif %}
{% endfor %}

{% requireLogin %}

{% if not activeUserMember %}
    <div class="box-error">    
        {% if not activeUserMember %}
            <div class="box-error__error">
                <p>! {{'Je lidmaatschap is nog niet actief'|t}}</p>
                <a class="box-error__mobile" href="#payment">{{'Betaal om je lidmaatschap te activeren'|t}}</a>
            </div>
        {% endif %}
    </div>
{% endif %}

<div class="grid grid--user">
    <div class="grid__left">    
        <div class="box">
            <div class="box__heading">
                <h1>{{'Lidmaatschap'|t}}</h1>
                <h2>(008)  {{user.customMemberId|slice(0, 3) ~ ' ' ~ user.customMemberId|slice(3, 3) ~ ' ' ~ user.customMemberId|slice(6, 3) ~ ' ' ~ user.customMemberId|slice(9, 3)}}</h2>
            </div>
            <div class="box__content" x-data="{ edit: false }">
                <div class="box__wrapper box__wrapper--labels">        
                    {% include "components/subtitle-box.twig" with {
                        subtitle: 'Gegevens'|t
                    } %}
                    {% if userGroup is same as 'membersGroup' %}
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'Organisatie'|t, 
                            info: user.organisation|capitalize
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'Contactpersoon'|t, 
                            info: user.contactPerson 
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'E-mail'|t, 
                            info: user.email
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'tel'|t, 
                            info: user.tel
                        } %}
                    {% else %}                        
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'Voornaam'|t, 
                            info: user.firstName|capitalize
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'Familienaam'|t, 
                            info: user.lastName 
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'E-mail'|t, 
                            info: user.email
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2,
                            label: 'Geboortedatum'|t, 
                            info: user.birthday|date("m/d/Y")
                        } %}
                    {% endif %}
                </div>
                <div class="box__wrapper box__wrapper--labels" x-show="!edit">   
                    <div class="box__column box__column--4 box__column--flex-between">
                        <h3>{{'Adres'|t}}</h3>
                        <button @click="edit = true" class="box__function-btn">{{'Wijzigen'|t}} {{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                    </div>    
                    {% include "components/info-box.twig" with {
                        span: 2,
                        label: 'Land'|t, 
                        info: user.country|capitalize
                    } %} 
                    {% include "components/info-box.twig" with {
                        span: 1,
                        label: 'Postcode'|t, 
                        info: user.postalCode
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 1,
                        label: 'Stad'|t, 
                        info: user.city|capitalize
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 2,
                        label: 'Straat'|t, 
                        info: user.street|capitalize
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 1,
                        label: 'Nr'|t, 
                        info: user.streetNr
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 1,
                        label: 'Bus'|t, 
                        info: user.bus
                    } %}
                </div>
                <form x-show="edit" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {{ csrfInput() }}
                    {{ actionInput('users/save-user') }}
                    {{ hiddenInput('userId', user.id) }}

                    <div class="box__column box__column--4 box__column--flex-between">
                        <h3>{{'Adres'|t}}</h3>
                    </div>  
                    <div class="edit__column--2">
                        <label class="edit__label" for="country">{{'Land'|t}}</label>
                        {{ input('text', 'fields[country]', user.country ?? null, {
                            id: 'country',
                            placeholder: 'Land',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column">
                        <label class="edit__label" for="postal-code">{{'Postcode'|t}}</label>
                        {{ input('text', 'fields[postalCode]', user.postalCode ?? null, {
                            id: 'postal-code',
                            placeholder: 'Postcode',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column">
                        <label class="edit__label" for="city">{{'Stad'|t}}</label>
                        {{ input('text', 'fields[city]', user.city ?? null, {
                            id: 'city',
                            placeholder: 'Stad',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column--2">
                        <label class="edit__label" for="street">{{ 'Straat'|t }}</label>
                        {{ input('text', 'fields[street]', user.street ?? null, {
                            id: 'street',
                            placeholder: 'Straat',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column--1-4">
                        <label class="edit__label" for="number">{{'Nr'|t}}</label>
                        {{ input('text', 'fields[streetNr]', user.streetNr ?? null, {
                            id: 'number',
                            placeholder: 'Nr',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column--1-4">
                        <label class="edit__label" for="email">{{ 'Bus'|t }}</label>
                        {{ input('text', 'fields[bus]', user.bus ?? null, {
                            id: 'bus',
                            placeholder: 'bus'
                        }) }}
                    </div>
                    <button type="submit" @click="edit = false" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
                </form>
                <div class="box__wrapper">            
                    <div class="box__column {{userGroup is same as 'membersOrganisation' ? 'box__column--2' : 'box__column--4'}}">
                        <p class="box__text-bold">{{'Lidmaatschap'|t}}</p>
                        <div class="box__info box__info--prim">
                            <p>{{ user.memberRate.one().title }}</p>
                            {% if user.memberDueDate %}
                                <p>{{'Vervalt op'|t}} {{user.memberDueDate|date('d-m-Y')}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="box__wrapper">
                    <div class="box__column box__column--4 box__column--flex-between">
                        <h3>{{'Lidkaarttype'|t}}</h3>
                        {% if user.requestPrint and not user.payedPrintDate %}
                            <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                                {{ csrfInput() }}
                                {{ actionInput('users/save-user') }}
                                {{ hiddenInput('userId', user.id) }}
                                {{ hiddenInput('fields[requestPrint]', null) }}

                                <button class="box__function-btn box__function-btn--delete">{{'Fysieke lidkaart annuleren'|t}}</button>
                            </form>
                        {% elseif not user.requestPrint and not user.payedPrintDate %}
                            <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                                {{ csrfInput() }}
                                {{ actionInput('users/save-user') }}
                                {{ hiddenInput('userId', user.id) }}
                                {{ hiddenInput('fields[requestPrint]', today) }}

                                <button class="box__function-btn box__function-btn--save">{{'Aanvraag fysieke lidkaart'|t}}</button>
                            </form>
                        {% endif %}
                    </div>  
                    <div class="box__column box__column--4">                    
                        {% if user.requestPrint and not user.payedPrintDate %}
                            {% include "components/info-box.twig" with {
                                span: 4,
                                info: 'Online'|t
                            } %}
                            <p>{{'Je hebt een fysieke lidkaart aangevraagd op'|t}} {{user.requestPrint|date('d-m-Y')}}. {{'je aanvraag wordt verstuurd wanneer je hebt betaald.'|t}}</p>
                        {% elseif user.requestPrint and user.payedPrintDate %}       
                            {% include "components/info-box.twig" with {
                                span: 4,
                                info: 'Fysieke lidkaart & Online'|t
                            } %}                    
                        {% else %}            
                            {% include "components/info-box.twig" with {
                                span: 4,
                                info: 'Online'|t
                            } %}  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if userGroup is same as 'members' %}        
            {% if extraMembers|length > 0 %}
                {% include "components/users/user-extras.twig" %}
            {% endif %}
            {% include "components/users/user-add-extra.twig" %} 
        {% endif %}
    </div>
    <div class="grid__right">
        {% include "components/users/payment.twig" %} 
        {% include "components/users/settings.twig" %} 
    </div>
</div>
