{% set paymentMethods = [{value: 'hostel', label: 'Hostel'|t}, {value: 'online', label: 'Online'|t}, {value: 'transfer', label: 'Overschrijving'|t}, {value: 'free', label: 'Gratis'|t}] %}
{% set cardTypes = [{value: 'printed', label: 'Geprint'|t}, {value: 'online', label: 'Enkel online'|t}] %}
{% set statusValues = [{value: 'active', label: 'Actief'|t}, {value: 'new', label: 'Nieuw'|t}, {value: 'renew', label: 'Vernieuw'|t}, {value: 'deactivated', label: 'Gedeactiveerd'|t},  {value: 'old', label: 'Oud systeem'|t}] %}
{% set memberTypes = [{value: 'individual', label: 'Individueel'|t}, {value: 'group', label: 'Groep'|t}, {value: 'groupYouth', label: 'Jeugdgroep'|t}, {value: 'employee', label: 'Werknemer'|t},  {value: 'life', label: 'Life member'|t}] %}
{% set limits = [{value: 10}, {value: 20}, {value: 30} , {value: 40}, {value: 50}, {value: 80}, {value: 100}, {value: 150}] %}
{% set ageGroups = craft.entries.section('rates').memberType('individual').all() %}

{% set search = search ?? null %}

{% set memberId = memberId ?? null %}

{% set payMethod = payMethod ?? null %}
{% set cardType = cardType ?? null %}
{% set ageGroup = ageGroup ?? null %}
{% set regMin = regMin ?? null %}
{% set regMax = regMax ?? null %}
{% set payMax = payMax ?? null %}
{% set payMin = payMin ?? null %}
{% set status = status ?? null %}
{% set memberType = memberType ?? null %}

{% set limit = limit ?? limits[0].value %}
{% set page = page ?? 1 %}

{% set filters = {
    search: search,
    payMethod: payMethod,
    cardType: cardType,
    ageGroup: ageGroup,
    regMin: regMin,
    regMax: regMax,
    payMax: payMax,
    payMin: payMin,
    memberId: memberId,
	status: status,
	memberType: memberType,
	limit: limit,
} %}

{% set dateFilterReg = [] %}
{% if regMin and regMax %}
    {% set dateFilterReg = ['and', ">= #{regMin}", "<= #{regMax}"] %}
{% elseif regMin %}
    {% set dateFilterReg = ">= #{regMin}" %}
{% elseif regMax %}
    {% set dateFilterReg = "<= #{regMax}" %}
{% endif %}

{% set dateFilterPay = [] %}
{% if payMin and payMax %}
    {% set dateFilterPay = ['and', ">= #{payMin}", "<= #{payMax}"] %}
{% elseif payMin %}
    {% set dateFilterPay = ">= #{payMin}" %}
{% elseif payMax %}
    {% set dateFilterPay = "<= #{payMax}" %}
{% endif %}

{% set membersQuery = craft.users({
    group: ['members', 'membersGroup'], 
    search: search,
    paymentType: payMethod,
    cardType: cardType,
    memberRate: ageGroup ? ageGroup : null,
    dateCreated: dateFilterReg,
    paymentDate: dateFilterPay,
    limit: limit, 
	customStatus: status,
	memberType: memberType,
}) %}

{% set oldMembers = craft.users({group: ['members', 'membersGroup'], customStatus: ['old', 'oldRenew']}).all() %}
{% set oldMembersDeactivated = oldMembers|filter(i => i.status is same as 'inactive') %}

{% set urlFilters = filters|merge({page: page})|url_encode %}
{% do sprig.pushUrl('?' ~ urlFilters ) %}

{% set pageInfo = sprig.paginate(membersQuery, page) %}
{% set entries = pageInfo.pageResults %}
{% set membersAll = membersQuery.all() %}
<div class="table-mobile">
	{{'Dashboard is enkel zichtbaar op ipad of desktop'|t}}
</div>
<div class="box-container table">
	<h1>Leden</h1>
	<div class="table__options" x-data="{openOption: $persist(0)}">
		<div class="table__option-search">
			{{ svg("assets/icons/search.svg")|attr({class: 'table__icon-search' }) }}
			<input sprig  type="text" class="table__search" name="search" value="{{search}}" placeholder="Zoeken">
			<button sprig s-val:search="{{null}}" class="table__option-search-delete">{{ svg("assets/icons/x.svg")|attr({class: 'table__icon-search' }) }}</button>
		</div>
		<div class="filter">
			<button @click="openOption === 1 ? openOption = 0 : openOption = 1" title="Filter" aria-label="{{ 'Filter' }}" class="filter__option-btn">{{svg('assets/icons/filter.svg')|attr({class: 'filter__option-icon' })}}</button>
			<div class="filter__box filter__box--filters" x-show="openOption === 1">
				<div class="filter__select-box">
					<p class="filter__title">{{'Lid type'|t}}</p>
					<div class="filter__select-row">					
						<select sprig  class="filter__select" name="memberType" id="">
							<option value="" {{ not memberType ? 'selected'}}>{{ 'Selecteer een type'|t }}</option>
							{% for item in memberTypes %}
								<option class="filter__option" value="{{item.value}}" {{ memberType == item.value ? 'selected'}}>{{item.label}}</option>
							{% endfor %}
						</select>
						{% if memberType %}
							<button class="filter__remove" sprig s-val:member-type="{{null}}">{{svg('assets/icons/x.svg')|attr({class:"filter__remove-icon"})}}</button>
						{% endif %}
					</div>
				</div>
				<div class="filter__select-box">
					<p class="filter__title">{{'Rijen per pagina'|t}}</p>
					<div class="filter__select-row">					
						<select sprig  class="filter__select" name="limit" id="">
							{% for item in limits %}
								<option class="filter__option" value="{{item.value}}" {{ limit == item.value ? 'selected'}}>{{item.value}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="filter__select-box">
					<p class="filter__title">{{'Status'|t}}</p>
					<div class="filter__select-row">					
						<select sprig  class="filter__select" name="status" id="">
							<option value="" {{ not status ? 'selected'}}>{{ 'Selecteer een status'|t }}</option>
							{% for item in statusValues %}
								<option class="filter__option" value="{{item.value}}" {{ status == item.value ? 'selected'}}>{{item.label}}</option>
							{% endfor %}
						</select>
						{% if status %}
							<button class="filter__remove" sprig s-val:status="{{null}}">{{svg('assets/icons/x.svg')|attr({class:"filter__remove-icon"})}}</button>
						{% endif %}
					</div>
				</div>
				<div class="filter__select-box">
					<p class="filter__title">{{'Lidkaart type'|t}}</p>
					<div class="filter__select-row">					
						<select sprig  class="filter__select" name="cardType" id="">
							<option value="" {{ not cardType ? 'selected'}}>{{ 'Selecteer een lidkaart type'|t }}</option>
							{% for item in cardTypes %}
								<option class="filter__option" value="{{item.value}}" {{ cardType == item.value ? 'selected'}}>{{item.label}}</option>
							{% endfor %}
						</select>
						{% if cardType %}
							<button class="filter__remove" sprig s-val:card-type="{{null}}">{{svg('assets/icons/x.svg')|attr({class:"filter__remove-icon"})}}</button>
						{% endif %}
					</div>
				</div>
				<div class="filter__select-box">
					<p class="filter__title">{{'Betaalmethode'|t}}</p>
					<div class="filter__select-row">					
						<select sprig  class="filter__select" name="payMethod">
							<option value="" {{ not payMethod ? 'selected'}}>{{'Selecteer een betaalmethode'|t}}</option>
							{% for item in paymentMethods %}
								<option class="filter__option" value="{{item.value}}" {{ payMethod == item.value ? 'selected'}}>{{item.label}}</option>
							{% endfor %}
						</select>
						{% if payMethod %}
							<button class="filter__remove" sprig s-val:pay-method="{{null}}">{{svg('assets/icons/x.svg')|attr({class:"filter__remove-icon"})}}</button>
						{% endif %}
					</div>
				</div>
				<div class="filter__select-box">
					<p class="filter__title">{{'Leeftijdsgroep'|t}}</p>
					<div class="filter__select-row">					
						<select sprig  class="filter__select" name="ageGroup" id="">
							<option value="{{null}}" {{ not ageGroup ? 'selected'}}>{{'Selecteer een leeftijdsgroep'|t}}</option>
							{% for item in ageGroups %}
								<option class="filter__option" value="{{item.id}}" {{ ageGroup == item.id ? 'selected'}}>{{item.minAge}}
									{{item.maxAge ? '- ' ~ item.maxAge : '+'}}</option>
							{% endfor %}
						</select>
						{% if ageGroup %}
							<button class="filter__remove" sprig s-val:age-group="{{null}}">{{svg('assets/icons/x.svg')|attr({class:"filter__remove-icon"})}}</button>
						{% endif %}
					</div>
				</div>
				<div>
					<p class="filter__title">{{'Betaaldatum'|t}}</p>
					<div class="filter__date-option">
						<label class="filter__date-text" for="pay-min-date">Van:</label>
						<label class="filter__date-text" for="pay-max-date">Tot:</label>
						<div>
							<input sprig class="filter__date" type="date" id="pay-min-date" name="payMin" s-trigger="change" value="{{payMin}}">
							{% if payMethod %}
								<button class="filter__remove" sprig s-val:pay-method="{{null}}">{{svg('assets/icons/x.svg')|attr({class:"filter__remove-icon"})}}</button>
							{% endif %}
						</div>
						<input sprig class="filter__date" type="date" id="pay-max-date" name="payMax" s-trigger="change" value="{{payMax}}">
					</div>
				</div>
				<div>
					<p class="filter__title">{{'Registratiedatum'|t}}</p>
					<div class="filter__date-option">
						<label class="filter__date-text" for="reg-min-date">Van:</label>
						<label class="filter__date-text" for="reg-max-date">Tot:</label>
						<input sprig class="filter__date" type="date" id="reg-min-date" name="regMin" s-trigger="change" value="{{regMin}}" >
						<input sprig class="filter__date" type="date" id="reg-max-date" name="regMax" s-trigger="change" value="{{regMax}}" >
					</div>
				</div>
				<button class="filter__remove-all btn" sprig s-val:pay-method="{{null}}" s-val:card-type="{{null}}" s-val:age-group="{{null}}" s-val:reg-min="{{null}}" s-val:reg-max="{{null}}" s-val:pay-min="{{null}}" s-val:pay-max="{{null}}" s-val:search="{{null}}" s-val:status="{{null}}" s-val:member-type="{{null}}">{{'Verwijder alle filters'}}</button>
			</div>
		</div>
		<div class="filter">
			<button @click="openOption === 2 ? openOption = 0 : openOption = 2" title="Nieuw lid" aria-label="{{'Nieuwe lid'}}" class="filter__option-btn">{{svg('assets/icons/user-plus.svg')|attr({class: 'filter__option-icon' })}}</button>
			<div class="filter__box filter__box--new" x-show="openOption === 2">
				<a @click="openOption = 0" class="filter__btn" href="/register-individual">{{'Nieuw individu'|t}}</a>
				<a @click="openOption = 0" class="filter__btn" href="/register-group">{{'Nieuw groep'|t}}</a>
				<a @click="openOption = 0" class="filter__btn" href="/register-old">{{'Oud lid'|t}}</a>
				<a @click="openOption = 0" class="filter__btn" href="/register-old-group">{{'Oud groep'|t}}</a>
			</div>
		</div>
		<a href="/export-users?{{ filters|url_encode }}" title="{{'Download excel'}}" class="table__download">{{svg('assets/icons/download.svg')|attr({class: "table__download-icon"})}}</a>
		{% if oldMembers %}		
			<div class="filter">
				<button @click="openOption === 3 ? openOption = 0 : openOption = 3" title="Nieuw lid" aria-label="{{'Nieuwe lid'}}" class="filter__option-btn">{{svg('assets/icons/envelope.svg')|attr({class: 'filter__option-icon' })}}</button>
				<div class="filter__box filter__box--old" x-show="openOption === 3">
					<div>
						<h3>{{'Acties voor oude leden'}}</h3>
					</div>
					<div class="filter__actions">
						{% if oldMembersDeactivated %}
							<a href="/send-activation-old" class="filter__btn">{{'Verstuur activatiemail'}}</a>
						{% endif %}
						<a href="/send-reminder-old" class="filter__btn">{{'Verstuur herinnering'}}</a>
						<a href="/deactivate-old" class="filter__btn">{{'Deactiveer oude leden'}}</a>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="table__content" id="table-members">
		<table
			class="table__table">
			<thead>
				<tr>
					<th>{{'Naam'|t}}</th>
					<th class="table__large-only">{{'E-mail'|t}}</th>
					<th>{{'Lidnummer'|t}}</th>
					<th class="table__large-only">{{'Gekoppeld'|t}}</th>
					<th>{{'Betaald'|t}}</th>
					<th>{{'Status'|t}}</th>
					<th>{{'Meer'|t}}</th>
				</tr>
			</thead>
			<tbody>
				{% for member in entries %}
					{% set memberIsEntry = member is instance of ('craft\\elements\\Entry') %}
					{% set memberTypes = craft.entries.section('rates').all() %}
					{% set currentDate = now|date('Y-m-d') %}
					{% set memberBday = member.birthday|date('Y-m-d') %}
					{% set memberAge = (currentDate|date('Y') - memberBday|date('Y')) - (currentDate|date('md') < memberBday|date('md') ? 1 : 0) %}
					{% set memberType = memberTypes|filter(i => i.minAge <= memberAge and (i.maxAge is null or i.maxAge >= memberAge)) %}
					{% set extraMembers = craft.entries.section('extraMembers').authorId(member.id).all() %}
					{% set paymentStatus = member.paymentDate and member.memberDueDate and (now >= member.paymentDate) and (now <= member.memberDueDate) %}
					<tr class="{{member.customStatus.value is same as 'deactivated' ? 'row--disabled' }}">
						<td>
							{% if member.getGroups()|first.handle is same as 'membersGroup' %}
								{{ member.organisation }}
							{% else %}
								{{member.altFirstName}}
								{{member.altLastName}}
							{% endif %}
						</td>
						<td class="table__large-only">{{ memberIsEntry is same as false ? member.email}}</td>
						<td>{{ memberIsEntry is same as false ? '(008) ' ~ member.customMemberId|slice(0, 3) ~ ' ' ~ member.customMemberId|slice(3, 3) ~ ' ' ~ member.customMemberId|slice(6, 3) ~ ' ' ~ member.customMemberId|slice(9, 3)}}</td>
						<td class="table__large-only">{{ memberIsEntry is same as false ? extraMembers|length }}</td>
						<td>
							{% if paymentStatus %}
								<div class="table__status table__status--true">{{ svg("assets/icons/check.svg")|attr({class: 'table__status-icon table__status-icon--true' }) }}</div>
							{% else %}
								<div class="table__status table__status--false">{{ svg("assets/icons/x.svg")|attr({class: 'table__status-icon table__status-icon--false' }) }}</div>
							{% endif %}
						</td>
						<td>
							{% if member.customStatus.value is same as 'active' %}
								<div class="table__status table__status--true">{{'actief'|t}}</div>
							{% elseif member.customStatus.value is same as 'new' %}
								<div class="table__status table__status--false">{{'new'|t}}</div>
							{% elseif member.customStatus.value is same as 'renew' %}
								<div class="table__status table__status--false">{{'verniew'|t}}</div>
							{% elseif member.customStatus.value is same as 'deactivated' %}
								<div class="table__status table__status--disabled">{{'gedeactiveerd'|t}}</div>
							{% elseif member.customStatus.value is same as 'old' %}
								<div class="table__status table__status--false">{{'oud actief lid'|t}}</div>
							{% elseif member.customStatus.value is same as 'oldRenew' %}
								<div class="table__status table__status--false">{{'oud niet actief lid'|t}}</div>
							{% endif %}
						</td>
						<td>
							<button sprig class="table__more" s-val:memberId="{{ member.id }}" s-val:search="{{search}}">Bekijk info</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if entries %}
		<div class="pagination">
			<p>
				{{ pageInfo.first }}-{{ pageInfo.last }}
				{{'van de'|t}}
				{{ pageInfo.total }}
				{{'leden'|t}}.
			</p>
			<div class="pagination__controls">
				<button class="pagination__btn {{page is same as 1 ? 'pagination__btn--false'}}" sprig s-val:page="{{ 1 }}">
					{{svg('assets/icons/chevron-left.svg')|attr({class: 'pagination__chevron'})}}
					{{svg('assets/icons/chevron-left.svg')|attr({class: 'pagination__chevron'})}}
				</button>
				<button class="pagination__btn {{page < 1 ? 'pagination__btn--false'}}" sprig s-val:page="{{ page < 2 ? 1 :  page - 1 }}">
					{{svg('assets/icons/chevron-left.svg')|attr({class: 'pagination__chevron'})}}
				</button>
				{% if pageInfo.totalPages > 10 %}
					{% if page > 3 %}
						<a class="pagination__btn" sprig s-val:page="1" s-push-url="?page=1">1</a>
						<span class="pagination__dots">...</span>
					{% endif %}

					{% set pageRange = range(page - 2, page + 2) %}
					{% set validPages = pageRange|filter(i => i > 0 and i <= pageInfo.totalPages) %}

					{% for i in validPages %}
						{% if i == page %}
							<p class="pagination__btn pagination__btn--current">{{ i }}</p>
						{% else %}
							<a class="pagination__btn" sprig s-val:page="{{ i }}" s-push-url="?page={{ i }}">{{ i }}</a>
						{% endif %}
					{% endfor %}

					{% if page < pageInfo.totalPages - 2 %}
						<span class="pagination__dots">...</span>
						<a class="pagination__btn" sprig s-val:page="{{ pageInfo.totalPages }}" s-push-url="?page={{ pageInfo.totalPages }}">{{ pageInfo.totalPages }}</a>
					{% endif %}
				{% else %}					
					{% for i in 1..pageInfo.totalPages %}
						{% if i == page %}
							<p class="pagination__btn pagination__btn--current">{{ i }}</p>
						{% else %}
							<a class="pagination__btn" sprig s-val:page="{{ i }}" s-push-url="?page={{ i }}">{{ i }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
				<button class="pagination__btn {{page > pageInfo.totalPages ? 'pagination__btn--false'}}" sprig s-val:page="{{ page|number_format is same as pageInfo.totalPages|number_format ? pageInfo.totalPages : page + 1 }}">
					{{svg('assets/icons/chevron-right.svg')|attr({class: 'pagination__chevron'})}}
				</button>
				<button class="pagination__btn {{page is same as pageInfo.totalPages ? 'pagination__btn--false'}}" sprig s-val:page="{{ pageInfo.totalPages }}">
					{{svg('assets/icons/chevron-right.svg')|attr({class: 'pagination__chevron'})}}
					{{svg('assets/icons/chevron-right.svg')|attr({class: 'pagination__chevron'})}}
				</button>
			</div>
		</div>
	{% endif %}
	{% if memberId %}
		{% include "components/modal.twig" %}
	{% endif %}
</div>
