
{% set limits = [{value: 10}, {value: 20}, {value: 30} , {value: 40}, {value: 50}, {value: 80}, {value: 100}, {value: 150}] %}
{% set formTypes = [{value: '', label: ''}] %}
{% set kidId = kidId ?? null %}
{% set search = search ?? null %}
{% set page = page ?? 1 %}
{% set limit = limit ?? limits[0].value %}

{% set filters = {
    kidId: kidId,
	limit: limit,
	search: search
} %}

{% set kidsQuery = craft.entries()
    .section('extraMembers')
    .search(search ? '*' ~ search ~ '*' : null)
    .limit(limit)
%}

{% do sprig.pushUrl('?' ~ filters|merge({page: page})|url_encode ) %}
{% set pageInfo = sprig.paginate(kidsQuery, page) %}
{% set entries = pageInfo.pageResults %}

{% set extraMembers = kidsQuery.all() %}

<div class="box-container table">
    <h1>{{'Kinderen'|t}}</h1>
    <div class="table__options">
        <div class="table__option-search">
			{{ svg("assets/icons/search.svg")|attr({class: 'table__icon-search' }) }}
			<input sprig  type="text" class="table__search" name="search" value="{{search}}" placeholder="{{'Zoeken'|t}}">
			<button sprig s-val:search="{{null}}" class="table__option-search-delete">{{ svg("assets/icons/x.svg")|attr({class: 'table__icon-search' }) }}</button>
		</div>
        <div class="filter">
            <select sprig  class="filter__limit" name="limit" id="">
                {% for item in limits %}
                    <option class="filter__option" value="{{item.value}}" {{ limit == item.value ? 'selected'}}>{{item.value}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="table__content" id="table-members">
        <table class="table__table">
            <thead>            
                <tr>
                    <th>{{'Naam'|t}}</th>
                    <th>{{'KidId'|t}}</th>
                    <th>{{'Geboortedatum'|t}}</th>
                    <th>{{'Ouders'|t}}</th>
                    <th>{{'Meer'|t}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in extraMembers %}
                    <tr>
                        <td>{{ item.altFirstName }} {{ item.altLastName}}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.birthday|date('d-m-Y') }}</td>
                        <td>{{ item.parentMember.all()|length }}</td>
                        <td>
							<button sprig class="table__more" s-val:kid-id="{{ item.id }}">{{'Bekijk info'}}</button>
						</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if extraMembers %}
        <div class="pagination">
			<p>
				{{ pageInfo.first }}-{{ pageInfo.last }}
				{{'van de'|t}}
				{{ pageInfo.total }}
				{{'aanvragen'|t}}.
			</p>
			<div class="pagination__controls">
				<button class="pagination__btn {{page is same as 1 ? 'pagination__btn--false'}}" sprig s-val:page="{{ 1 }}">
					{{svg('assets/icons/chevron-left.svg')|attr({class: 'pagination__chevron'})}}
					{{svg('assets/icons/chevron-left.svg')|attr({class: 'pagination__chevron'})}}
				</button>
				<button class="pagination__btn {{page < 1 ? 'pagination__btn--false'}}" sprig s-val:page="{{ page < 2 ? 1 :  page - 1 }}">
					{{svg('assets/icons/chevron-left.svg')|attr({class: 'pagination__chevron'})}}
				</button>
				{% if pageInfo.totalPages > 10 %}
					{% if page > 3 %}
						<a class="pagination__btn" sprig s-val:page="1" s-push-url="?page=1">1</a>
						<span class="pagination__dots">...</span>
					{% endif %}

					{% set pageRange = range(page - 2, page + 2) %}
					{% set validPages = pageRange|filter(i => i > 0 and i <= pageInfo.totalPages) %}

					{% for i in validPages %}
						{% if i == page %}
							<p class="pagination__btn pagination__btn--current">{{ i }}</p>
						{% else %}
							<a class="pagination__btn" sprig s-val:page="{{ i }}" s-push-url="?page={{ i }}">{{ i }}</a>
						{% endif %}
					{% endfor %}

					{% if page < pageInfo.totalPages - 2 %}
						<span class="pagination__dots">...</span>
						<a class="pagination__btn" sprig s-val:page="{{ pageInfo.totalPages }}" s-push-url="?page={{ pageInfo.totalPages }}">{{ pageInfo.totalPages }}</a>
					{% endif %}
				{% else %}					
					{% for i in 1..pageInfo.totalPages %}
						{% if i == page %}
							<p class="pagination__btn pagination__btn--current">{{ i }}</p>
						{% else %}
							<a class="pagination__btn" sprig s-val:page="{{ i }}" s-push-url="?page={{ i }}">{{ i }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
				<button class="pagination__btn {{page > pageInfo.totalPages ? 'pagination__btn--false'}}" sprig s-val:page="{{ page|number_format is same as pageInfo.totalPages|number_format ? pageInfo.totalPages : page + 1 }}">
					{{svg('assets/icons/chevron-right.svg')|attr({class: 'pagination__chevron'})}}
				</button>
				<button class="pagination__btn {{page is same as pageInfo.totalPages ? 'pagination__btn--false'}}" sprig s-val:page="{{ pageInfo.totalPages }}">
					{{svg('assets/icons/chevron-right.svg')|attr({class: 'pagination__chevron'})}}
					{{svg('assets/icons/chevron-right.svg')|attr({class: 'pagination__chevron'})}}
				</button>
			</div>
		</div>
    {% endif %}
    {% if kidId %}
		{% include "components/kid-modal.twig" %}
	{% endif %}
</div>