{% set baseUrl = craft.app.sites.primarySite.baseUrl %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hi Flanders</title>
        <link rel="stylesheet" href="https://use.typekit.net/dgq7cxw.css">
        <link rel="icon" type="image/png" href="{{ baseUrl }}assets/favicons/favicon-96x96.png" sizes="96x96" />
        {# <link rel="icon" type="image/svg+xml" href="{{ baseUrl }}assets/favicons/favicon.svg" /> #}
        <link rel="shortcut icon" href="{{ baseUrl }}assets/favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ baseUrl }}assets/favicons/apple-touch-icon.png" />
        <link rel="manifest" href="{{ baseUrl }}assets/favicons/site.webmanifest" />

        <link rel="stylesheet" href="{{ baseUrl }}dist/assets/app-CS8WvxnT.css">
        
        {% if craft.app.request.getFullPath() is same as 'register' %}
            <script src="https://www.google.com/recaptcha/api.js?render={{ getenv('RECAPTCHA_SITE_KEY') }}"></script>
        {% endif %}
        {% if craft.app.request.getFullPath() is same as 'login' %}
            <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        {% endif %}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MRSZ4DTH');</script>
    </head>
    <body>
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRSZ4DTH"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        {% include "partials/header.twig" %}
        <main class="center">
            {% block content %}{% endblock %}
        </main>
        {# {{ craft.vite.script("src/scripts/main.js") }}  #}
        <script src="{{ baseUrl }}dist/assets/app-5Pup3lxm.js"></script>
        {% if craft.app.request.getFullPath() is same as 'register' %}
            <script>
                function onSubmit(token) {
                    // Submit the form when the challenge is completed
                    document.querySelector('.register-form').submit();
                }
            </script>
        {% endif %}
    </body>
</html>