<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="https://use.typekit.net/dgq7cxw.css">
        <link rel="icon" type="image/png" href="{{ craft.app.sites.primarySite.baseUrl }}/assets/favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{ craft.app.sites.primarySite.baseUrl }}/assets/favicons/favicon.svg" />
        <link rel="shortcut icon" href="{{ craft.app.sites.primarySite.baseUrl }}/assets/favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ craft.app.sites.primarySite.baseUrl }}/assets/favicons/apple-touch-icon.png" />
        <link rel="manifest" href="{{ craft.app.sites.primarySite.baseUrl }}/assets/favicons/site.webmanifest" />
        <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}dist/assets/app-BSFTQpYj.css">
    </head>
    <body>
        {% include "partials/header.twig" %}
        <main class="center">
            {% block content %}{% endblock %}
        </main>
        {# {{ craft.vite.script("src/scripts/main.js") }}  #}
        <script src="{{ craft.app.sites.primarySite.baseUrl }}dist/assets/app-B3k9MmvD.js"></script>
    </body>
</html>