<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="https://use.typekit.net/dgq7cxw.css">
        <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}dist/assets/app-BxWkqKw8.css">
    </head>
    <body>
        <header class="header">
            <a href="{{ currentSite.baseUrl }}">
                {{ svg("assets/branding/Logo.svg")|attr({class: 'header__logo' }) }}
            </a>
            <div class="header__options">        
                {% include "components/language-switcher.twig" %}
                {% if currentUser %}
                    <a class="btn" href="{{ logoutUrl }}">Logout</a>
                {% endif %}
                <a class="btn" href="{{ craft.entries.section('mainWebsite').one().linkExtern }}">{{'Naar website'|t}}</a>
            </div>
        </header>
        <main class="center">
            {% block content %}{% endblock %}
        </main>
        {# {{ craft.vite.script("src/scripts/main.js") }}  #}
        <script src="{{ craft.app.sites.primarySite.baseUrl }}dist/assets/app-5Z86G9De.js"></script>
        <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {"siteId":3707582,"cookiePolicyId":33124718,"lang":"nl"};
        </script>
        <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3707582.js"></script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    </body>
</html>