{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('remind-youth').site('usersEn').one() %}
    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <a style="color: #102438;" class="button" href="{{ activationUrl }}"> {{ mailingContent.textSingle }}</a>
    {{ mailingContent.mailing2 }}
{% endblock %}