{% extends "layouts/base.twig" %}

{% requireLogin %}

{% block content %}
    {% set userGroups = currentUser.getGroups()|column('handle') %}
    {% if not craft.app.user.identity or not userGroups|intersect(['membersAdmin','membersAdminSuper']) %}
        {% redirect 'login' %}
    {% endif %}
    
    {% set langs = [{label: 'Nederlands'|t, value: 'nl' }, {label: 'Engels'|t, value: 'en' }, {label: 'Frans'|t, value: 'fr' }] %}
    {% set submissionId = craft.app.request.getParam('submission') %}
    {% set selectedSubmission = submissionId ? craft.formie.submissions().id(submissionId).one() : null %}

    {% set pp = craft.entries.section(privacyPolicy).one().linkExtern %}
    {% set user = user ?? null %}
    {% set activationPage = craft.entries.section('activate').one().uri %}
    {% set maxDate = now|date_modify('-3 years')|date("Y-m-d") %}
    {% set memberRates = craft.entries.section('rates').all() %}
    {% set groupRate = memberRates|find(i => i.memberType.value is same as 'group') %}
    {% set succesUrl = craft.entries.section('succesRegister').one().url %}

    {% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
    {% endmacro %}

    <div class="formbox">
        <div class="formbox__heading">
            <h2>{{'Registreer groep'|t}}</h2>
        </div>
        <form class="formbox__form" method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            {{ actionInput('users/save-user') }}
            {{ redirectInput(succesUrl) }}

            {{ input('hidden', 'groupHandle', 'membersGroup') }}
            {{ input('hidden', 'fields[privacyPolicy][]', 'accepted') }}
            {{ input('hidden', 'fields[registeredBy]', 'admin') }}
            
            {% if user %}
                {% set errors = user.getErrors() %}
                {% if errors|length > 0 %}                
                    <div class="formbox__error formbox__column--full">
                        <p>{{'Niet alle velden zijn correct ingevuld.'|t}}</p>
                    </div>
                {% endif %}
                {% if user and user.getErrors('email') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('email'))}} {{'Kies een ander mail.'|t}}</div>
                {% endif %}   
                {% if user and user.getErrors('tel') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('tel'))}}</div>
                {% endif %}   
                {% if user and user.getErrors('password') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('password'))}}</div>
                {% endif %}   
                {% if user and user.getErrors('privacyPolicy') %}
                    <div class="formbox__error formbox__column--full">
                        <p>{{'Je moet akkoord gaan met het privacy beleid om verder te gaan'|t}}.</p>
                    </div>
                {% endif %}   
            {% endif %}

            {% if selectedSubmission and selectedSubmission.country|lower is not same as 'belgië' %}
                <div class="formbox__column--full">
                    <p>{{ 'Het land dat werd ingegeven bij de aanvraag was niet België, maar'|t }} {{ selectedSubmission.country }}. {{ 'Contacteer de groep voor een adres binnen België.'|t }}</p>
                </div>
            {% endif %}

            <div class="formbox__column--full {{ user and user.getErrors('memberType') ? 'formbox__column--error' }}"> 
                <label class="formbox__label" for="groupType">{{ 'Soort organisatie'|t }}</label>
                <select id="groupType" name="fields[memberType]" required>
                    <option value="group" {{ user and user.memberType == 'group' ? 'selected' }}>Standaard</option>
                    <option value="groupYouth" {{ (user and user.memberType == 'groupYouth') or (selectedSubmission and selectedSubmission.jeugdgroep) ? 'selected' : '' }}>Jeugd</option>
                </select>
            </div>
            <div class="formbox__column {{ user and user.getErrors('organisation') ? 'formbox__column--error' }}"> 
                <label class="formbox__label" for="organisation">{{'Organisatie'|t}}</label>
                {{ input('text', 'fields[organisation]', user and user.organisation ? user.organisation : selectedSubmission ? selectedSubmission.organisation : null, {
                    id: 'organisation',
                    placeholder: 'Organisatie'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('contactPerson') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="name-contact">{{'Naam Contactpersoon'|t}}</label>
                {{ input('text', 'fields[contactPerson]', user and user.contactPerson ? user.contactPerson : selectedSubmission ? selectedSubmission.contactPerson : null, {
                    id: 'name-contact',
                    placeholder: 'Naam contactpersoon'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full {{ user and user.getErrors('tel') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="tel">{{'Telefoon nummer'|t}}</label>
                {{ input('tel', 'fields[tel]', user and user.tel ? user.tel : selectedSubmission ? selectedSubmission.tel : null, {
                    id: 'tel',
                    placeholder: 'Telefoon nummer'|t,
                    pattern: '\\+?[0-9\\s\\-()]*',
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full {{ user and user.getErrors('email') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="email">{{'E-mail'|t}}</label>
                {{ input('email', 'email', user and user.email ? user.email : selectedSubmission ? selectedSubmission.email : null, {
                    id: 'email',
                    placeholder: 'E-mail'|t,
                    required: true
                }) }}
            </div>    
            <div class="formbox__column--full {{ user and user.getErrors('email') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="confirm-email">{{'Confirm E-mail'|t }}</label>
                {{ input('email', 'confirmEmail', selectedSubmission ? selectedSubmission.email : craft.app.request.getBodyParam('confirmEmail') ?? null, {
                    id: 'confirm-email',
                    placeholder: 'Bevestig E-mailadres'|t,
                    required: true
                }) }}
            </div>    
            <div class="formbox__column--full {{ user and user.getErrors('country') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="country">{{'Land'|t}}</label>
                {{ input('text', 'fields[country]', 'België'|t, {
                    id: 'country',
                    placeholder: 'Land'|t,
                    required: true,
                    readonly: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('street') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="street">{{ 'Straat'|t }}</label>
                {{ input('text', 'fields[street]', user and user.street ? user.street : selectedSubmission and selectedSubmission.street ? selectedSubmission.street : null, {
                    id: 'street',
                    placeholder: 'Straat'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--1-4 {{ user and user.getErrors('streetNr') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="number">{{'Nr'|t}}</label>
                {{ input('text', 'fields[streetNr]', user and user.streetNr ? user.streetNr : selectedSubmission and selectedSubmission.streetNr ? selectedSubmission.streetNr : null, {
                    id: 'number',
                    placeholder: 'Nr'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--1-4">
                <label class="formbox__label" for="bus">{{ 'Bus'|t }}</label>
                {{ input('text', 'fields[bus]', user and user.bus ? user.bus : selectedSubmission and selectedSubmission.bus ? selectedSubmission.bus : null, {
                    id: 'bus',
                    placeholder: 'Bus'|t
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('postalCode') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="postal-code">{{'Postcode'|t}}</label>
                {{ input('text', 'fields[postalCode]', user and user.postalCode ? user.postalCode : selectedSubmission and selectedSubmission.postalCode ? selectedSubmission.postalCode : null, {
                    id: 'postal-code',
                    placeholder: 'Postcode'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('city') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="city">{{'Stad'|t}}</label>
                {{ input('text', 'fields[city]', user and user.city ? user.city : selectedSubmission and selectedSubmission.city ? selectedSubmission.city : null, {
                    id: 'city',
                    placeholder: 'Stad'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full">
                <label class="formbox__label" for="payment-type">{{'Berichttaal'|t}}</label>
                <select name="fields[lang]" id="payment-type">
                    <option value="nl">{{'Berichttaal'|t}}</option>
                    {% for item in langs %}
                        <option value="{{item.value}}" {{ (user and user.lang.value is same as item.value) or (selectedSubmission and selectedSubmission.selectLang.value  is same as item.value) ? 'selected'}}>{{item.label}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formbox__checkbox formbox__column--pp formbox__column--full">
                <label for="newsletter" class="formbox__check-label">
                {{ input('checkbox', 'fields[newsletter]', 'enroll' , {
                    id: 'newsletter',
                    checked: (
                        (user.newsletter.storage is defined and 'enrollSchool' in user.newsletter.storage) 
                        or (craft.app.request.getBodyParam('fields[newsletter]') == 'enroll') 
                        or (selectedSubmission and selectedSubmission.nieuwsbrief)
                    )
                }) }} 
                <span class="checkmark"></span>
                <p>{{'Inschrijven voor nieuwsbrieven.'|t}}</p>
            </div>
            <div class="formbox__checkbox formbox__column--pp formbox__column--full">
                <label for="newsletterSchool" class="formbox__check-label">
                {{ input('checkbox', 'fields[newsletterSchool]', 'enrollSchool' , {
                    id: 'newsletterSchool',
                    checked: (
                        (user.newsletterSchool.storage is defined and 'enrollSchool' in user.newsletterSchool.storage) 
                        or (craft.app.request.getBodyParam('fields[newsletterSchool]') == 'enrollSchool') 
                        or (selectedSubmission and selectedSubmission.schoolNieuwsbrief)
                    )
                }) }} 
                <span class="checkmark"></span>
                <p>{{'Inschrijven voor schoolnieuwsbrieven.'|t}}</p>
            </div>

            <button class="formbox__button formbox__column--full">{{'Registreer'|t}}</button>
        </form>
        <div class="formbox__options">
            <p class="formbox__or">{{'Of'|t}}</p>
            <a class="formbox__button formbox__button--sec" href="{{currentSite.baseUrl}}">{{'Annuleer'|t}}</a>
        </div>
    </div>
{% endblock %}