{% extends "layouts/base.twig" %}

{% requireLogin %}

{% block content %}
    {% if not craft.app.user.identity or currentUser.getGroups()|first.handle is not same as 'membersAdmin'%}
        {% redirect 'login' %}
    {% endif %}
    
    {% set langs = [{label: 'Nederlands'|t, value: 'nl' }, {label: 'Engels'|t, value: 'en' }, {label: 'Frans'|t, value: 'fr' }] %}

    {% set pp = craft.entries.section(privacyPolicy).one().linkExtern %}
    {% set user = user ?? null %}
    {% set activationPage = craft.entries.section('activate').one().uri %}
    {% set maxDate = now|date_modify('-3 years')|date("Y-m-d") %}
    {% set memberRates = craft.entries.section('rates').all() %}
    {% set groupRate = memberRates|find(i => i.memberType.value is same as 'group') %}
    {% set succesUrl = craft.entries.section('succesRegister').one().url %}

    {% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
    {% endmacro %}

    <div class="formbox">
        <div class="formbox__heading">
            <h2>{{'Registreer groep'|t}}</h2>
        </div>
        <form class="formbox__form" method="post" accept-charset="UTF-8" novalidate>
            {{ csrfInput() }}
            {{ actionInput('users/save-user') }}
            {{ redirectInput(succesUrl) }}

            {{ input('hidden', 'groupHandle', 'membersGroup') }}
            {{ input('hidden', 'fields[privacyPolicy][]', 'accepted') }}
            {{ input('hidden', 'fields[registeredBy]', 'admin') }}
            
            {% if user %}
                {% set errors = user.getErrors() %}
                {% if errors|length > 0 %}                
                    <div class="formbox__error formbox__column--full">
                        <p>Niet alle velden zijn correct ingevuld.</p>
                    </div>
                {% endif %}
                {% if user and user.getErrors('email') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('email'))}} {{'Kies een ander mail.'|t}}</div>
                {% endif %}   
                {% if user and user.getErrors('tel') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('tel'))}}</div>
                {% endif %}   
                {% if user and user.getErrors('password') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('password'))}}</div>
                {% endif %}   
                {% if user and user.getErrors('privacyPolicy') %}
                    <div class="formbox__error formbox__column--full">
                        <p>Je moet akkoord gaan met het privacy beleid om verder te gaan.</p>
                    </div>
                {% endif %}   
            {% endif %}
            
            <div class="formbox__column--full {{ user and user.getErrors('memberType') ? 'formbox__column--error' }}"> 
                <label class="formbox__label" for="groupType">{{ 'Soort organisatie'|t }}</label>
                <select id="groupType" name="fields[memberType]" required>
                    <option value="group" {{ user and user.memberType == 'group' ? 'selected' }}>Standaard</option>
                    <option value="groupYouth" {{ user and user.memberType == 'groupYouth' ? 'selected' }}>Jeugd</option>
                </select>
            </div>
            <div class="formbox__column--full {{ user and user.getErrors('organisation') ? 'formbox__column--error' }}"> 
                <label class="formbox__label" for="organisation">{{'Organisatie'|t}}</label>
                {{ input('text', 'fields[organisation]', user.organisation ?? null, {
                    id: 'organisation',
                    placeholder: 'Organisatie'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full {{ user and user.getErrors('contactPerson') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="name-contact">{{'Naam Contactpersoon'|t}}</label>
                {{ input('text', 'fields[contactPerson]', user.contactPerson ?? null, {
                    id: 'name-contact',
                    placeholder: 'Naam contactpersoon'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full {{ user and user.getErrors('tel') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="tel">{{'Telefoon nummer'|t}}</label>
                {{ input('tel', 'fields[tel]', user.tel ?? null, {
                    id: 'tel',
                    placeholder: 'Telefoon nummer'|t,
                    pattern: '\\+?[0-9\\s\\-()]*',
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full {{ user and user.getErrors('email') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="email">{{'E-mail'|t}}</label>
                {{ input('email', 'email', user.email ?? null, {
                    id: 'email',
                    placeholder: 'E-mail'|t,
                    required: true
                }) }}
            </div>    
            <div class="formbox__column--full {{ user and user.getErrors('email') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="confirm-email">{{'Confirm E-mail'|t }}</label>
                {{ input('email', 'confirmEmail', null, {
                    id: 'confirm-email',
                    placeholder: 'Bevestig E-mailadres'|t,
                    required: true
                }) }}
            </div>    
            <div class="formbox__column--full {{ user and user.getErrors('country') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="country">{{'Land'|t}}</label>
                {{ input('text', 'fields[country]', user.country ?? null, {
                    id: 'country',
                    placeholder: 'Land'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('street') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="street">{{ 'Straat'|t }}</label>
                {{ input('text', 'fields[street]', user.street ?? null, {
                    id: 'street',
                    placeholder: 'Straat'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--1-4 {{ user and user.getErrors('streetNr') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="number">{{'Nr'|t}}</label>
                {{ input('text', 'fields[streetNr]', user.streetNr ?? null, {
                    id: 'number',
                    placeholder: 'Nr'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--1-4">
                <label class="formbox__label" for="bus">{{ 'Bus'|t }}</label>
                {{ input('text', 'fields[bus]', user.bus ?? null, {
                    id: 'bus',
                    placeholder: 'Bus'|t
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('city') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="city">{{'Stad'|t}}</label>
                {{ input('text', 'fields[city]', user.city ?? null, {
                    id: 'city',
                    placeholder: 'Stad'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('postalCode') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="postal-code">{{'Postcode'|t}}</label>
                {{ input('text', 'fields[postalCode]', user.postalCode ?? null, {
                    id: 'postal-code',
                    placeholder: 'Postcode'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full">
                <label class="formbox__label" for="payment-type">{{'Betaalmethode'|t}}</label>
                <select name="fields[lang]" id="payment-type" required>
                    <option value="nl">{{'Berichttaal'|t}}</option>
                    {% for item in langs %}
                        <option value="{{item.value}}">{{item.label}}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="formbox__button formbox__column--full">{{'Registreer'|t}}</button>
        </form>
        <div class="formbox__options">
            <p class="formbox__or">{{'Of'|t}}</p>
            <a class="formbox__button formbox__button--sec" href="{{ url('/') }}">{{'Annuleer'|t}}</a>
        </div>
    </div>
{% endblock %}
