{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('activation-ind-ad').site('default').one() %}
    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <ol>
        <li>
            <div>Een wachtwoord instellen voor toegang tot je account.</div><br> 
            <a style="color: #102438;" class="button" href="{{ activationUrl }}">Kies een wachtwoord</a>
        </li>
        <li style="margin-top: 25px">
            <div>De betaling van € 10 in orde brengen. (Opgelet: ben je jonger dan 31, dan is jouw lidmaatschap gratis en mag je deze 2de stap negeren.)</div><br>
            <a style="color: #102438;" class="button" href="{{ url }}">Naar de betaalpagina</a>
        </li>
    </ol>
    {{ mailingContent.mailing2 }}
{% endblock %}