{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('activation-group').site('default').one() %}
    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <ol>
        <li>
            <div>Een wachtwoord instellen voor toegang tot je groepsaccount.</div><br> 
            <a style="color: #102438;" class="button" href="{{ activationUrl }}">Kies een wachtwoord</a>
        </li>
        <li style="margin-top: 25px">
            <div>De betaling in orde brengen. Voor slechts € 30 euro word je met je groep een jaar lang lid van Hi Flanders, inclusief alle voordelen.</div><br>
            <a style="color: #102438;" class="button" href="{{ url }}">Naar de betaalpagina</a>
        </li>
    </ol>
    {{ mailingContent.mailing2 }}
{% endblock %}
