{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('verification-payment').site('default').one() %}
    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <ul>
        <li>Betaald bedrag: €{{ total }}</li>
        <li>Datum van betaling: {{ date }}</li>
    </ul>
    {{ mailingContent.mailing2 }}
{% endblock %}