{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('verification-payment').site('usersFr').one() %}
    <p>Bonjour  {{ name }},</p>
    {{ mailingContent.mailing }}
    <ul>
        <li>Montant payé : €{{total}}</li>
        <li>Date du paiement : {{ date }}</li>
    </ul>
    {{ mailingContent.mailing2 }}
{% endblock %}