{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('activation-ind-ad').site('usersFr').one() %}
    <p>Bonjour  {{ name }},</p>
    {{ mailingContent.mailing }}
    <ol>
        <li>
            <div>Définir un mot de passe pour accéder à votre compte de groupe.</div><br> 
            <a style="color: #102438;" class="button" href="{{ activationUrl }}">Choisir un mot de passe</a>
        </li>
        <li style="margin-top: 25px">
            <div>Effectuer le paiement de 10 €. (Attention : si vous avez moins de 31 ans, votre adhésion est gratuite et vous pouvez ignorer cette deuxième étape.)</div><br>
            <a style="color: #102438;" class="button" href="{{ url }}">Payer maintenant</a>
        </li>
    </ol>
    {{ mailingContent.mailing2 }}
{% endblock %}
