{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('activation-group').site('usersFr').one() %}
    <p>Bonjour {{ name }},</p>
    {{ mailingContent.mailing }}
    <ol>
        <li>
            <div>Définir un mot de passe pour accéder à votre compte de groupe.</div><br> 
            <a style="color: #102438;" class="button" href="{{ activationUrl }}">Choisir un mot de passe</a>
        </li>
        <li style="margin-top: 25px">
            <div>Effectuer le paiement. Pour seulement 30 €, votre groupe devient membre de Hi Flanders pendant un an, avec tous les avantages inclus.</div><br>
            <a style="color: #102438;" class="button" href="{{ url }}">Accéder à la page de paiement</a>
        </li>
    </ol>
    {{ mailingContent.mailing2 }}
{% endblock %}