{% extends "email/base.twig" %}
{% block content %}
    {% set mailingContent = craft.entries().section('mailings').slug('renew').site('usersEn').one() %}

    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <a class="button" href="{{ url }}">{{ mailingContent.textSingle }}</a>
    {{ mailingContent.mailing2 }}
{% endblock %}