{% extends "layouts/base.twig" %}

{% block content %}
    <div class="formbox">
        <div class="formbox__heading">
            <h1>{{'Log in'|t}}</h1>
        </div>
        <form class="formbox__form" method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            {{ actionInput('users/login') }}
            {{ redirectInput('/') }}

            {% if errorMessage is defined %}
                <div class="formbox__error formbox__column--full">
                    <p class="formbox__errorText">{{ errorMessage }}</p>
                </div>
            {% endif %}

            <div class="formbox__column--full">            
                <label class="formbox__label" for="loginName">{{'Email'|t}}</label>
                {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    autocomplete: 'username',
                    placeholder: 'Email'|t,
                }) }}
            </div>

            <div class="formbox__password formbox__column--full">            
                <label class="formbox__label" for="password">{{'Password'|t}}</label>
                {{ input('password', 'password', null, {
                    id: 'password',
                    placeholder: 'Password'|t
                }) }}
                <button class="formbox__see-pass" type="button" id="togglePassword" aria-label="Show Password">
                    {{ svg("assets/icons/eye.svg")|attr({class: 'formbox__see-pass-icon' }) }}
                </button>
            </div>

            <div class="formbox__password-options formbox__column--full">
                <label>
                    {{ input('checkbox', 'rememberMe', '1') }}
                    {{'Remember me'|t}}
                </label>
                <a class="formbox__link formbox__link--small" href="{{ url('reset-password') }}">{{'Wachtwoord vergeten?'|t}}</a>
            </div>

            <button class="formbox__button formbox__column--full">{{'Log in'|t}}</button>
        </form>
        <div class="formbox__options">
            <p class="formbox__or">{{'Of'|t}}</p>
            <a class="formbox__button formbox__button--sec" href="{{ url('register') }}">{{'Lid worden'|t}}</a>
            <a class="formbox__button formbox__button--sec" href="{{ url('register-group') }}">{{'Groep registreren'|t}}</a>
        </div>
    </div>
{% endblock %}