{% extends "layouts/base.twig" %}

{% block content %}
    <div class="formbox">
        <div class="formbox__heading">
            <h2>Login</h2>
        </div>
        <form class="formbox__form" method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            {{ actionInput('users/login') }}
            {{ redirectInput('/') }}

            {% if errorMessage is defined %}
                <div class="formbox__error formbox__column--full">
                    <p class="formbox__errorText">{{ errorMessage }}</p>
                </div>
            {% endif %}

            <div class="formbox__column--full">            
                <label class="formbox__label" for="loginName">Email</label>
                {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    autocomplete: 'username',
                    placeholder: 'Email',
                }) }}
            </div>

            <div class="formbox__password formbox__column--full">            
                <label class="formbox__label" for="password">Password</label>
                {{ input('password', 'password', null, {
                    id: 'password',
                    placeholder: 'wachtwoord'
                }) }}

                <div class="formbox__password-options">
                    <label>
                        {{ input('checkbox', 'rememberMe', '1') }}
                        Remember me
                    </label>
                    <a class="formbox__link formbox__link--small" href="{{ url('reset-password') }}">Wachtwoord vergeten?</a>
                </div>
            </div>

            <button class="formbox__button formbox__column--full">Login</button>
        </form>
        <div class="formbox__options">
            <p class="formbox__or">Of</p>
            <a class="formbox__button formbox__button--sec" href="{{ url('register') }}">Lid worden</a>
        </div>
    </div>
{% endblock %}