{% extends "layouts/base.twig" %}

{# `user` is defined if the form returns validation errors. #}

{% block content %}
    {% set pp = craft.entries.section(privacyPolicy).one().linkExtern %}
    {% set user = user ?? null %}
    {% set activationPage = craft.entries.section('activate').one().uri %}
    {% set maxDate = now|date_modify('-3 years')|date("Y-m-d") %}
    {% set memberRates = craft.entries.section('rates').all() %}

    {% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
    {% endmacro %}

    <div class="formbox">
        <div class="formbox__heading">
            <h2>{{'Registreer'|t}}</h2>
        </div>
        <form class="formbox__form" method="post" accept-charset="UTF-8" novalidate>
            {{ csrfInput() }}
            {{ actionInput('users/save-user') }}
            {{ redirectInput(activationPage) }}

            {{ input('hidden', 'fields[memberType]', 'individual') }}
            
            {% if user %}
                {% set errors = user.getErrors() %}
                {% if errors|length > 0 %}                
                    <div class="formbox__error formbox__column--full">
                        <p>Niet alle velden zijn correct ingevuld.</p>
                    </div>
                {% endif %}
                {% if user and user.getErrors('email') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('email'))}}</div>
                {% endif %}   
                {% if user and user.getErrors('password') %}
                    <div class="formbox__error formbox__column--full">{{_self.errorList(user.getErrors('password'))}}</div>
                {% endif %}   
                {% if user and user.getErrors('privacyPolicy') %}
                    <div class="formbox__error formbox__column--full"><p>Je moet akkoord gaan met de privacy policy</p></div>
                {% endif %}   
            {% endif %}

            <div class="formbox__column {{ user and user.getErrors('altFirstName') ? 'formbox__column--error' }}"> 
                <label class="formbox__label" for="alt-first-name">{{'Voornaam'|t}}</label>
                {{ input('text', 'fields[altFirstName]', user.altFirstName ?? null, {
                    id: 'alt-first-name',
                    placeholder: 'Voornaam'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('altLastName') ? 'formbox__column--error' }}">     
                <label class="formbox__label" for="alt-sur-name">{{'Familienaam'|t}}</label>
                {{ input('text', 'fields[altLastName]', user.altLastName ?? null, {
                    id: 'alt-sur-name',
                    placeholder: 'Familienaam'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('email') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="email">{{'E-mail'|t}}</label>
                {{ input('email', 'email', user.email ?? null, {
                    id: 'email',
                    placeholder: 'E-mailadres'|t,
                    required: true
                }) }}
            </div> 
            <div class="formbox__column {{ user and user.getErrors('birthday') ? 'formbox__column--error' }}">                
                <label class="formbox__label" for="birthday">{{'Geboortedatum'|t}}</label>
                {{ input('text', 'fields[birthday]', user and user.birthday ? user.birthday|date('d-m-Y') : null, {
                    id: 'birthday',
                    placeholder: 'Geboortedatum'|t,
                    onFocus: "(this.type = 'date', this.placeholder = '')",
                    required: true,
                    max: maxDate
                }) }}
            </div>     
            <div class="formbox__column {{ user and user.getErrors('country') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="postal-code">{{'Postcode'|t}}</label>
                {{ input('text', 'fields[postalCode]', user.postalCode ?? null, {
                    id: 'postal-code',
                    placeholder: 'Postcode'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('country') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="city">{{'Stad'|t}}</label>
                {{ input('text', 'fields[city]', user.city ?? null, {
                    id: 'city',
                    placeholder: 'Stad'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column {{ user and user.getErrors('street') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="street">{{ 'Straat'|t }}</label>
                {{ input('text', 'fields[street]', user.street ?? null, {
                    id: 'street',
                    placeholder: 'Straat'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--1-4 {{ user and user.getErrors('streetNr') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="number">{{'Nr'|t}}</label>
                {{ input('text', 'fields[streetNr]', user.streetNr ?? null, {
                    id: 'number',
                    placeholder: 'Nr'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--1-4">
                <label class="formbox__label" for="bus">{{ 'Bus'|t }}</label>
                {{ input('text', 'fields[bus]', user.bus ?? null, {
                    id: 'bus',
                    placeholder: 'Bus'|t
                }) }}
            </div>
            <div class="formbox__column--full {{ user and user.getErrors('country') ? 'formbox__column--error' }}">
                <label class="formbox__label" for="country">{{'Land'|t}}</label>
                {{ input('text', 'fields[country]', user.country ?? null, {
                    id: 'country',
                    placeholder: 'Land'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full  {{ user and user.getErrors('password') ? 'formbox__column--error' }}">         
                <label class="formbox__label" for="password">{{'Password'|t}}</label>
                {{ input('password', 'password', null, {
                    id: 'password',
                    placeholder: 'Kies een wachtwoord'|t,
                    required: true
                }) }}
                <button class="formbox__see-pass" type="button" id="togglePassword" aria-label="Show Password">
                    {{ svg("assets/icons/eye.svg")|attr({class: 'formbox__see-pass-icon' }) }}
                </button>
            </div>
            <div class="formbox__checkbox formbox__column--pp formbox__column--full">
                <label for="privacy-policy">
                {{ input('checkbox', 'fields[privacyPolicy]', 'iAccept', {
                    id: 'privacy-policy',
                    required: true,
                    checked: user.privacyPolicy.storage is defined and 'iAccept' in user.privacyPolicy.storage
                }) }} 
                <p>{{'Ik ga akkoord dat mijn gegevens gebruikt worden zoals beschreven in de'|t}} <a class="formbox__link" target="_blank" href="{{pp}}">{{'privacy policy'|t}}</a>.</label></p>
            </div>
            {# {% if user and user.birthday %}
                {% set currentDate = now|date('Y-m-d') %}
                {% set userBirthDay = user.birthday|date('Y-m-d') %}
                {% set memberAge = (currentDate|date('Y') - userBirthDay|date('Y')) - (currentDate|date('md') < userBirthDay|date('md') ? 1 : 0) %}
                {% set memberRateCurrent = memberRates|find(i => i.minAge <= memberAge and (i.maxAge is null or i.maxAge >= memberAge)) %}

                {{ input('hidden', 'fields[memberRate][]', memberRateCurrent.id) }}
            {% endif %} #}
            <button class="formbox__button formbox__column--full">{{'Registreer'|t}}</button>
        </form>
        <div class="formbox__options">
            <p class="formbox__or">{{'Of'|t}}</p>
            <a class="formbox__button formbox__button--sec" href="{{ url('login') }}">{{'Log in'|t}}</a>
            <a class="formbox__button formbox__button--sec" href="/register-group">{{'Registreer groep'|t}}</a>
        </div>
    </div>
{% endblock %}
