{% extends "layouts/base.twig" %}

{% block content %}
<div class="formbox">
    <div class="formbox__heading">
        <h2>{{'Reset wachtwoord'|t}}</h2>
    </div>
    <form class="formbox__form" method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('users/set-password') }}

        {# These two values are included in a password reset URL,
            and available in the template, automatically. They must
            be passed back when setting a new password to validate
            the request: #}
        {{ hiddenInput('code', code) }}
        {{ hiddenInput('id', id) }}

        <div class="formbox__column--full">        
            <label class="formbox__label" for="new-password">New Password</label>
            {{ input('password', 'newPassword', null, {
                id: 'new-password',
                placeholder: 'Nieuw wachtwoord'|t
            }) }}
            <button class="formbox__see-pass" type="button" id="togglePassword" aria-label="Show Password">
                {{ svg("assets/icons/eye.svg")|attr({class: 'formbox__see-pass-icon' }) }}
            </button>
        </div>

        {% if errors is defined %}
            {{ ul(errors, {class: 'errors'}) }}
        {% endif %}

        <button class="formbox__button formbox__button--last formbox__column--full">{{'Bevestig'|t}}</button>
    </form>
</div>
{% endblock %}