{% set selectedMember = craft.users.id(memberId).one() %} 
{% set extraMembers = craft.entries.section('extraMembers').parentMember(memberId).all() %}
{% set minDate = now|date_modify('-17 years')|date("Y-m-d") %} 
{% set priceCard = craft.entries.section('rates').slug('lidkaart').one() %}
{% set printStatuses = [{value: 'send', label: 'Verstuurd'|t}, {value: 'requested' , label: 'Aangevraagd'|t}] %}

<button sprig class="btn" s-val:member-id="{{ null }}" class="modal-close">
    {{ svg('assets/icons/x.svg')|attr({class:"modal-close__icon"})}}
</button>
<div class="modal" x-data="{editAddress: false, editPayment: false, editPrint: false, editBday: false, editMembership: false}" :class="extraMember ? 'model--no-overflow' : ''" >
    <div class="modal__content" :class="statusOption ? 'modal--overflow' : ''">    
        <div class="box">
            <div class="box__heading box__heading--center">
                {% if selectedMember.getGroups()|first.handle is same as 'members' %}
                    <h2>{{ selectedMember.altFirstName }} {{ selectedMember.altLastName }}</h2>
                {% else %}
                    <h2>{{ selectedMember.organisation }}</h2>
                {% endif %}
                <p class="box__membership">(008) {{selectedMember.customMemberId|slice(0, 3)}} {{selectedMember.customMemberId|slice(3, 3)}} {{selectedMember.customMemberId|slice(6, 3)}} {{selectedMember.customMemberId|slice(9, 3)}}</p>
            </div>
            <div class="box__content">
                {% if selectedMember.customStatus.value is not same as 'active' %}                    
                    <div class="box__wrapper box__wrapper--labels">
                        {% include "components/info-box.twig" with {
                            span: 4, 
                            info: 'Dit account is niet actief of is nog niet geactiveert!'|t,
                            error: true
                        } %}
                    </div>
                {% endif %}
                <div class="box__wrapper box__wrapper--labels" x-show="!editBday">
                    {% if selectedMember.getGroups()|first.handle is same as 'members' and user.getGroups()|first.handle is same as 'membersAdminSuper' %} 
                        <div class="box__column box__column--4 box__column--flex-between">
                            <h3>{{'Persoonsgegevens'|t}}</h3>
                            <button class="box__function-btn" @click="editBday = true">{{'Wijzigen'|t}} {{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                        </div>
                    {% else %}                        
                        {% include "components/subtitle-box.twig" with {
                            subtitle: 'Persoonsgegevens'|t
                        } %}
                    {% endif %}
    
                    {% if selectedMember.getGroups()|first.handle is same as 'members' %}                    
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Voornaam'|t, 
                            info: selectedMember.altFirstName
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Familienaam'|t, 
                            info: selectedMember.altLastName
                        } %}
                    {% else %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Organisatie'|t, 
                            info: selectedMember.organisation
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Contactpersoon'|t, 
                            info: selectedMember.contactPerson
                        } %}
                    {% endif %}
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'E-mail'|t, 
                        info: selectedMember.email
                    } %}
                    {% if selectedMember.getGroups()|first.handle is same as 'members' %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Geboortedatum'|t, 
                            info: selectedMember.birthday|date("d/m/Y")
                        } %}
                    {% else %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Tel.'|t, 
                            info: selectedMember.tel
                        } %}
                    {% endif %}
                </div>
                {% if selectedMember.getGroups()|first.handle is same as 'members' and user.getGroups()|first.handle is same as 'membersAdminSuper'  %}
                    <form x-show="editBday" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                        {{ csrfInput() }}
                        {{ actionInput('users/save-user') }}
                        {{ hiddenInput('userId', selectedMember.id) }}
                        {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}
                        
                        {% include "components/subtitle-box.twig" with {
                            subtitle: 'Persoonsgegevens'|t
                        } %}               

                        <div class="edit__column--2">
                            <label class="edit__label" for="alt-first-name">{{'Voornaam'|t}}</label>
                            {{ input('text', 'fields[altFirstName]', selectedMember.altFirstName ? selectedMember.altFirstName : null, {
                                id: 'alt-first-name',
                                required: true,
                            }) }}
                        </div>
                        <div class="edit__column--2">
                            <label class="edit__label" for="alt-sur-name">{{'Familienaam'|t}}</label>
                            {{ input('text', 'fields[altLastName]', selectedMember.altLastName ? selectedMember.altLastName : null, {
                                id: 'alt-sur-name',
                                required: true,
                            }) }}
                        </div>
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'E-mail'|t, 
                            info: selectedMember.email
                        } %}
                        <div class="edit__column--2">
                            <label class="edit__label" for="birthday">{{'Geboortedatum'|t}}</label>
                            {{ input('date', 'fields[birthday]', selectedMember.birthday ? selectedMember.birthday|date('Y-m-d') : '', {
                                id: 'birthday',
                                required: true,
                            }) }}
                        </div>
                        <div class="box__column--flex">
                            <button type="submit" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
                            <button @click="editBday = false" type="reset" class="box__function-btn box__function-btn--cancel">{{'Annuleer'}}</button>
                        </div>
                    </form>
                {% endif %}
                <div x-show="!editAddress" class="box__wrapper box__wrapper--labels">
                    <div class="box__column box__column--4 box__column--flex-between">
                        <h3>{{'Adres'|t}}</h3>
                        <button class="box__function-btn" @click="editAddress = true">{{'Wijzigen'|t}} {{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                    </div>
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Straat'|t, 
                        info: selectedMember.street|capitalize
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 1, 
                        label: 'Nr'|t, 
                        info: selectedMember.streetNr
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 1, 
                        label: 'Bus'|t, 
                        info: selectedMember.bus|capitalize
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Land'|t, 
                        info: selectedMember.country|capitalize
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 1, 
                        label: 'Stad'|t, 
                        info: selectedMember.city|capitalize
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 1, 
                        label: 'Postcode'|t, 
                        info: selectedMember.postalCode
                    } %}
                </div>
                <form x-show="editAddress" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {{ csrfInput() }}
                    {{ actionInput('users/save-user') }}
                    {{ hiddenInput('userId', selectedMember.id) }}
                    {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}
                    <div class="box__column box__column--4">
                        <h3>{{'Adres'|t}}</h3>
                    </div>
                    <div class="edit__column--2">
                        <label class="edit__label" for="street">{{ 'Straat'|t }}</label>
                        {{ input('text', 'fields[street]', selectedMember.street ?? null, {
                            id: 'street',
                            placeholder: 'Straat',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column--1-4">
                        <label class="edit__label" for="number">{{'Nr'|t}}</label>
                        {{ input('text', 'fields[streetNr]', selectedMember.streetNr ?? null, {
                            id: 'number',
                            placeholder: 'Nr',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column--1-4">
                        <label class="edit__label" for="bus">{{ 'Bus'|t }}</label>
                        {{ input('text', 'fields[bus]', selectedMember.bus ?? null, {
                            id: 'bus',
                            placeholder: 'bus'
                        }) }}
                    </div>
                    <div class="edit__column--2">
                        <label class="edit__label" for="country">{{'Land'|t}}</label>
                        {{ input('text', 'fields[country]', selectedMember.country ?? null, {
                            id: 'country',
                            placeholder: 'Land',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column">
                        <label class="edit__label" for="postal-code">{{'Postcode'|t}}</label>
                        {{ input('text', 'fields[postalCode]', selectedMember.postalCode ?? null, {
                            id: 'postal-code',
                            placeholder: 'Postcode',
                            required: true
                        }) }}
                    </div>
                    <div class="edit__column">
                        <label class="edit__label" for="city">{{'Stad'|t}}</label>
                        {{ input('text', 'fields[city]', selectedMember.city ?? null, {
                            id: 'city',
                            placeholder: 'Stad',
                            required: true
                        }) }}
                    </div>
                    <div class="box__column--flex">
                        <button type="submit" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
                        <button @click="editAddress = false" type="reset" class="box__function-btn box__function-btn--cancel">{{'Annuleer'}}</button>
                    </div>
                </form>
                <div class="box__wrapper" x-show="!editMembership">
                    {% if selectedMember.getGroups()|first.handle is same as 'members' and user.getGroups()|first.handle is same as 'membersAdminSuper' %} 
                        <div class="box__column box__column--4 box__column--flex-between">
                            <h3>{{'Lidmaatschap'|t}}</h3>
                            <button class="box__function-btn" @click="editMembership = true">{{'Wijzigen'|t}} {{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                        </div>
                    {% else %}                        
                        {% include "components/subtitle-box.twig" with {
                            subtitle: 'Lidmaatschap'|t
                        } %}
                    {% endif %}
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Type'|t,
                        info: selectedMember.memberRate.one().title, 
                        prim: true
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Registratiedatum'|t, 
                        info: selectedMember.dateCreated|date("d/m/Y")
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Vernieuwd op'|t, 
                        info: selectedMember.renewedDate ? selectedMember.renewedDate|date("d/m/Y") : 'Nog niet vernieuwd'|t
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Vervaldatum'|t, 
                        info: selectedMember.memberDueDate|date("d/m/Y")
                    } %}
                </div>
                <form x-show="editMembership" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {{ csrfInput() }}
                    {{ actionInput('users/save-user') }}
                    {{ hiddenInput('userId', selectedMember.id) }}
                    {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}

                    {% include "components/subtitle-box.twig" with {
                        subtitle: 'Lidmaatschap'|t
                    } %}

                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Type'|t,
                        info: selectedMember.memberRate.one().title, 
                        prim: true
                    } %}
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Registratiedatum'|t, 
                        info: selectedMember.dateCreated|date("d/m/Y")
                    } %}

                    <div class="edit__column--2">
                        <label class="edit__label" for="renewedDate">{{'Vernieuwd op'|t}}</label>
                        {{ input('date', 'fields[renewedDate]', selectedMember.renewedDate ? selectedMember.renewedDate|date('Y-m-d') : '', {
                            id: 'renewedDate',
                        }) }}
                    </div>

                    <div class="edit__column--2">
                        <label class="edit__label" for="memberDueDate">{{'Vervaldatum'|t}}</label>
                        {{ input('date', 'fields[memberDueDate]', selectedMember.memberDueDate ? selectedMember.memberDueDate|date('Y-m-d') : '', {
                            id: 'memberDueDate',
                        }) }}
                    </div>

                    <div class="box__column--flex">
                        <button type="submit" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
                        <button @click="editMembership = false" type="reset" class="box__function-btn box__function-btn--cancel">{{'Annuleer'|t}}</button>
                    </div>
                </form>
                {% if selectedMember.getGroups()|first.handle is same as 'members' %}  
                    <div class="box__wrapper">
                        <div class="box__column box__column--4 box__column--flex-between">
                            <h3>{{'Kinderen'|t}}</h3>
                            <div class="box__row">
                                <button class="box__function-btn box__function-btn--prim" @click="extraMember = true">{{'Kind toevoegen'|t}} {{ svg("assets/icons/add.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                                <button class="box__function-btn box__function-btn--prim" @click="connectExtraMember = true">{{'Kind koppelen'|t}} {{ svg("assets/icons/add.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                            </div>
                        </div>
                        {% if extraMembers|length > 0 %}
                            {% for item in extraMembers %}
                                <div class="box__column box__column--4 box__column--flex">
                                    <div class="box__info box__info box__info--prim">
                                        <p>{{ item.altFirstName }} {{ item.altLastName }} - {{ item.id }}</p>
                                        {# <p>{{ item.memberRate.one().title }}</p> #}
                                        <a class="box__link" href="/kids?kidId={{ item.id }}">{{'Bekijk info'|t}}</a>
                                    </div>
                                    <form class="form-delete form-delete--full" method="post" accept-charset="UTF-8">
                                        {% set newParents = item.parentMember.ids()|filter(i => i != selectedMember.id) %}
                                        
                                        {{ csrfInput() }}
                                        {{ actionInput('entries/save-entry') }}
                                        {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}
                                        {{ input('hidden', 'entryId', item.id) }}
                                        
                                        {% if newParents|length > 0 %}
                                            {% for parentId in newParents %}
                                                {{ input('hidden', 'fields[parentMember][]', parentId) }}
                                            {% endfor %}
                                        {% else %}
                                            {{ input('hidden', 'fields[parentMember][]', null) }}
                                        {% endif %}
                                        
                                        <button type="submit" class="btn btn--red btn--square">{{svg('assets/icons/link-slash.svg')|attr({class: "btn__icon"})}}</button>
                                    </form>
                                    <form class="form-delete form-delete--full" method="post" accept-charset="UTF-8">
                                        {{ csrfInput() }}
                                        {{ actionInput('elements/delete') }}
                                        {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}
                                        {{ input('hidden', 'elementId', item.id) }}
                                        <button type="submit" class="btn btn--red btn--square">{{svg('assets/icons/trash.svg')|attr({class: "btn__icon"})}}</button>
                                    </form>
                                </div>                                    
                            {% endfor %}
                        {% else %}
                            <div class="box__column box__column--4">
                                <div class="box__info box__info">
                                    <p>{{'Geen kinderen'|t}}</p>
                                </div>
                            </div> 
                        {% endif %}
                    </div>
                {% endif %}
                <div x-show="!editPayment" class="box__wrapper">
                    <div class="box__column box__column--4 box__column--flex-between">
                        <h3>{{'Betaal status'|t}}</h3>
                        <button class="box__function-btn" @click="editPayment = true">{{'Wijzigen'|t}} {{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                    </div>
                    {% include "components/info-box.twig" with {
                        span: 4, 
                        label: 'Betaalmethode'|t, 
                        info: selectedMember.paymentType.label,
                        error: selectedMember.paymentType.value is same as ''
                    } %}
                    {% if selectedMember.paymentType.value is not same as '' %}                    
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Betaaldatum'|t, 
                            info: selectedMember.paymentType.value is same as 'free' ? selectedMember.paymentType.label : selectedMember.paymentDate ? selectedMember.paymentDate|date("d/m/Y")
                        } %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Betaald bedrag'|t, 
                            info: selectedMember.totalPayedMembers ? selectedMember.totalPayedMembers|money : '€ 0',
                        } %}
                    {% endif %}
                </div>
                <form x-show="editPayment" class="edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {{ csrfInput() }}
                    {{ actionInput('users/save-user') }}
                    {{ hiddenInput('userId', selectedMember.id) }}
                    {{ hiddenInput('fields[totalPayedMembers]', selectedMember.memberRate.one().price|money) }}
                    {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}

                    <div class="box__column box__column--4">
                        <h3>{{'Betaal status'|t}}</h3>
                    </div>
                    <div class="edit__column--4">
                        <label class="edit__label" for="payment-type">{{'Betaalmethode'|t}}</label>
                        <select required name="fields[paymentType]" id="payment-type" >
                            <option value="">{{'Nog niet betaald'|t}}</option>
                            {% for item in paymentMethods %}
                                <option {{selectedMember.paymentType.value is same as item.value ? 'selected'}} value="{{item.value}}">{{item.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="edit__column--2">
                        <label class="edit__label" for="pay-date">{{'Betaaldatum'|t}}</label>
                        {{ input('date', 'fields[paymentDate]', selectedMember.paymentDate ? selectedMember.paymentDate|date('Y-m-d') : '', {
                            id: 'pay-date',
                            required: true,
                        }) }}
                    </div>
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Betaald bedrag'|t, 
                        info: selectedMember.memberRate.one().price|money,
                    } %}
                    <div class="box__column--flex">
                        <button type="submit" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
                        <button @click="editPayment = false" type="reset" class="box__function-btn box__function-btn--cancel">{{'Annuleer'}}</button>
                    </div>
                </form>
                <div class="box__wrapper" x-show="!editPrint">
                    <div class="box__column box__column--4 box__column--flex-between">
                        <h3>{{'Lidkaart'|t}}</h3>
                        <div class="box__row">
                            {% if selectedMember.requestPrint and selectedMember.payedPrintDate %}
                                <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                                    {{ csrfInput() }}
                                    {{ actionInput('users/save-user') }}
                                    {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}

                                    {{ hiddenInput('userId', selectedMember.id) }}
                                    {{ hiddenInput('fields[totalPayedPrint]', '') }}
                                    {{ hiddenInput('fields[requestPrint]', '') }}
                                    {{ hiddenInput('fields[payedPrintDate]', '') }}
                                    {{ hiddenInput('fields[requestPrintSend]', false) }}

                                    <button type="submit" class="box__function-btn box__function-btn--delete">{{'Kaart verloren'|t}}</button>
                                </form>
                            {% endif %}
                            {% if selectedMember.requestPrint %}
                                <button class="box__function-btn" @click="editPrint = true">{{'Wijzigen'|t}} {{ svg("assets/icons/edit.svg")|attr({class: 'box__icon-option box__icon-edit' }) }}</button>
                            {% endif %}
                        </div>
                    </div>
                    {% include "components/info-box.twig" with {
                        span: 4, 
                        label: selectedMember.requestPrint and selectedMember.payedPrintDate ? 'Type kaart'|t : null, 
                        info: not selectedMember.requestPrint and not selectedMember.payedPrintDate ? 'Online'|t : selectedMember.requestPrint and not selectedMember.payedPrintDate ? 'Fysieke lidkaart'|t ~ ' ' ~ 'Nog niet betaald'|t : 'Fysieke lidkaart en online'|t,
                        error: selectedMember.requestPrint and not selectedMember.payedPrintDate
                    } %}
                    {% if selectedMember.requestPrint %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Status Fysieke lidkaart'|t, 
                            info: selectedMember.printStatus.label,
                        } %}
                    {% endif %}
                    {% if selectedMember.requestPrint %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Fysieke lidkaart verstuurd op'|t, 
                            info: selectedMember.dateSendPrint ? selectedMember.dateSendPrint|date('d-m-Y') : 'Nog niet verstuurd',
                        } %}
                    {% endif %}
                    {% if selectedMember.requestPrint and selectedMember.payedPrintDate %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Betaaldatum'|t, 
                            info: selectedMember.payedPrintDate|date('d-m-Y'),
                        } %}
                    {% endif %}
                    {% if selectedMember.requestPrint and selectedMember.payedPrintDate %}
                        {% include "components/info-box.twig" with {
                            span: 2, 
                            label: 'Betaald bedrag'|t, 
                            info: selectedMember.totalPayedPrint ? selectedMember.totalPayedPrint|money : 0,
                        } %}
                    {% endif %}
                </div> 
                <form class="box__column box__column--4 edit" method="post" accept-charset="UTF-8" enctype="multipart/form-data" x-show="editPrint">
                    {{ csrfInput() }}
                    {{ actionInput('users/save-user') }}
                    {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}

                    {{ hiddenInput('userId', selectedMember.id) }}
                    {{ hiddenInput('fields[totalPayedPrint]', priceCard.price|money) }}
                    <div class="box__column box__column--4">
                        <h3>{{'Lidkaart'|t}}</h3>
                    </div>

                    {% include "components/info-box.twig" with {
                        span: 4, 
                        label: selectedMember.requestPrint and selectedMember.payedPrintDate ? 'Type kaart'|t : null, 
                        info: not selectedMember.requestPrint and not selectedMember.payedPrintDate ? 'Online'|t : selectedMember.requestPrint and not selectedMember.payedPrintDate ? 'Fysieke lidkaart'|t ~ ' ' ~ 'Nog niet betaald'|t : 'Fysieke lidkaart en online'|t,
                        error: selectedMember.requestPrint and not selectedMember.payedPrintDate
                    } %}
                    <div class="edit__column--2">
                        <label class="edit__label" for="print-status">{{'Status Fysieke lidkaart'|t}}</label>
                        <select name="fields[printStatus]" id="print-status">
                            {% for item in printStatuses %}                        
                                <option value="{{item.value}}" {{craft.app.request.getBodyParam('fields[printStatus]') is same as item.value ? 'selected'}}>{{ item.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="edit__column--2">
                        <label class="edit__label" for="send-date">{{'Fysieke lidkaart verstuurd op'|t}}</label>
                        {{ input('date', 'fields[dateSendPrint]', selectedMember.dateSendPrint ? selectedMember.dateSendPrint|date('Y-m-d') : '', {
                            id: 'send-date',
                        }) }}
                    </div>
                    <div class="edit__column--2">
                        <label class="edit__label" for="pay-date">{{'Betaaldatum'|t}}</label>
                        {{ input('date', 'fields[payedPrintDate]', selectedMember.payedPrintDate ? selectedMember.payedPrintDate|date('Y-m-d') : '', {
                            id: 'pay-date',
                        }) }}
                    </div>
                    {% include "components/info-box.twig" with {
                        span: 2, 
                        label: 'Betaald bedrag'|t, 
                        info: priceCard.price|money,
                    } %}
                    <div class="box__column--flex">
                        <button type="submit" class="box__function-btn box__function-btn--save">{{'Opslaan'|t}}</button>
                        <button @click="editPrint = false" type="reset" class="box__function-btn box__function-btn--cancel">{{'Annuleer'}}</button>
                    </div>
                </form>
                <div class="box__options">
                    <div class="box__options-wrapper">
                        {% if selectedMember.customStatus.value is same as 'deactivated' and selectedMember.status is same as 'inactive' %}
                            <form class="form-delete" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                                {{ csrfInput() }}
                                {{ actionInput('users/save-user') }}
                                {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}
                                
                                {{ hiddenInput('userId', selectedMember.id) }}
                                {{ hiddenInput('fields[customStatus]', 'active') }}

                                <button s-val:selectedMember="{{null}}" class="btn" type="submit">
                                    {{'Lid activeren'|t}}
                                </button>
                            </form>
                        {% elseif selectedMember.status is same as 'pending' %}
                            <form method="POST" action="{{ url('resend-activation') }}">
                                {{ csrfInput() }}
                                <input type="hidden" name="id" value="{{ selectedMember.id }}">
                                <button type="submit" class="btn">{{'Verstuur activatiemail'|t}}</button>
                            </form>
                        {% else %}
                            <button @click="statusOption = true" class="btn btn--red">{{'Lid deactiveren'|t}}</button>
                        {% endif %}
                    </div>
                    {# <button sprig class="btn" s-val:member-id="{{ null }}">{{'Terug naar overzicht'|t}}</button> #}
                    <a href="{{ url('generate-eti', { memberId: selectedMember.id }) }}" class="btn">
                        {{ 'Download .ETI bestand'|t }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if selectedMember.getGroups()|first.handle is same as 'members' %}    
    <div class="extra-modal" x-show="extraMember">
        <div class="formbox box--extra">
            <div class="formbox__heading">
                <h2>{{'Kind toevoegen'|t}}</h2>
            </div>
            <form class="formbox__form formbox__form--no-options" method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('entries/save-entry') }}
                {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}

                {{ input('hidden', 'sectionId', craft.entries.section('extraMembers').sectionId|first) }}
                {{ input('hidden', 'fields[parentMember][]', selectedMember.id) }}

                <div class="formbox__column">                
                    <label class="formbox__label" for="alt-first-name">{{'Voornaam'|t}}</label>
                    {{ input('text', 'fields[altFirstName]', null, {
                        id: 'alt-first-name',
                        placeholder: 'Voornaam'|t,
                        required: true
                    }) }}
                </div>
                <div class="formbox__column">                
                    <label class="formbox__label" for="alt-sur-namee">{{'Familienaam'|t}}</label>
                    {{ input('text', 'fields[altLastName]', null, {
                        id: 'alt-sur-name',
                        placeholder: 'Familienaam'|t,
                        required: true
                    }) }}
                </div>
                <div class="formbox__column--full">                
                    <label class="formbox__label" for="birthday">{{'Geboortedatum'|t}}</label>
                    {{ input('text', 'fields[birthday]', null, {
                        id: 'birthday',
                        placeholder: 'Geboortedatum'|t,
                        onFocus: "(this.type = 'date', this.placeholder = '')",
                        required: true,
                        min: minDate
                    }) }}
                </div>   
                <button @click="extraMember = false" type="reset" class="formbox__button formbox__button--sec formbox__column">{{'Annuleer'|t}}</button>
                <button type="submit" class="formbox__button formbox__button--sec formbox__column">{{'Voeg toe'|t}}</button>
            </form>
        </div>
    </div>
    <div class="extra-modal" x-show="connectExtraMember">
        <div class="formbox box--extra">
            <div class="formbox__heading">
                <h2>{{'Kind koppelen'|t}}</h2>
            </div>
            <form class="formbox__form formbox__form--no-options" method="post" accept-charset="UTF-8">
                {% if craft.app.session.hasFlash('error') %}
                    <div class="formbox__error formbox__column--full">
                        <p class="formbox__errorText">
                            {{ craft.app.session.getFlash('error') }}
                        </p>
                    </div>
                {% endif %}

                {% if craft.app.session.hasFlash('notice') %}
                    <div x-init="connectExtraMember = false"></div>
                {% endif %}


                {{ csrfInput() }}
                {{ actionInput('rate-extra-member/connect/save') }}
                {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}

                {{ input('hidden', 'sectionId', craft.entries.section('extraMembers').sectionId|first) }}
                {{ input('hidden', 'selectedMemberId', selectedMember.id) }}

                {# Preserve existing parentMember connections #}
                {% set entryId = craft.app.request.getParam('entryId') ?? null %}
                {% set existingParentMembers = craft.entries.id(entryId).one().parentMember.all() ?? [] %}

                {% for member in existingParentMembers %}
                    {{ input('hidden', 'fields[parentMember][]', member.id) }}
                {% endfor %}

                {# Add the new selected member #}
                {{ input('hidden', 'fields[parentMember][]', selectedMember.id) }}

                <div class="formbox__column formbox__column--full">                
                    <label class="formbox__label" for="kid-id">{{'KidId'|t}}</label>
                    {{ input('text', 'entryId', null, {
                        id: 'kid-id',
                        placeholder: 'KidId'|t,
                        required: true
                    }) }}
                </div> 

                <button @click="connectExtraMember = false" type="reset" class="formbox__button formbox__button--sec formbox__column">{{'Annuleer'|t}}</button>
                <button type="submit" class="formbox__button formbox__button--sec formbox__column">{{'Koppelen'|t}}</button>
            </form>
        </div>
    </div>
{% endif %}
<div class="extra-modal" x-show="statusOption">    
    <div class="box box--delete">
        <div class="box__heading">
            <h2>{{'Lid deactiveren?'|t}}</h2>
        </div>
        <div class="box__content">
            <p>{{'Ben je zeker dat je'|t}} <strong>{{ selectedMember.fullName }}</strong> {{'met lidnummer'|t}} <strong>(008) {{selectedMember.customMemberId|slice(0, 3)}} {{selectedMember.customMemberId|slice(3, 3)}} {{selectedMember.customMemberId|slice(6, 3)}} {{selectedMember.customMemberId|slice(9, 3)}}</strong> {{'wilt deactiveren?'|t}}</p>
            <div class="box__btns">
                <button class="btn" @click="statusOption = false">{{'Annuleer'|t}}</button>                
                <form class="form-delete" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {{ csrfInput() }}
                    {{ actionInput('users/save-user') }}
                    {{ redirectInput(currentSite.baseUrl ~ '?' ~ urlFilters) }}
                    
                    {{ hiddenInput('userId', selectedMember.id) }}
                    {{ hiddenInput('fields[customStatus]', 'deactivated') }}
                    {{ hiddenInput('fields[statusChangeDate]', now|date('d-m-Y')) }}
                    <button class="btn" type="submit">
                        {{'Lid deactiveren'|t}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>