<div class="box-container box-container--member">
    <h2>{{'Extra leden'|t}}</h2>
    {% for item in extraMembers %}
        {% set activeExtraCheck = item.paymentDate and item.expPaymentDate and currentDate >= item.paymentDate and currentDate <= item.expPaymentDate %}
        <div class="box box--member" x-data="{openMember: false}" :class="openMember ? 'box--member-open' : ''">
            <div @click="openMember = ! openMember" class="box__heading box__heading--center">
                <h3>{{item.title}}</h3>
                {{ svg("assets/icons/chevron-down.svg")|attr({class: 'box__icon box__icon--chevron' }) }}
            </div>
            <div class="box__content" x-collapse x-show="openMember">
                <div class="box__wrapper">
                    <div class="box__column box__column--2">            
                        <p>{{'Voornaam'|t}}</p>
                        <div class="box__info">
                            <p>{{ item.altFirstName|capitalize }}</p>
                        </div>
                    </div>
                    <div class="box__column box__column--2">            
                        <p>{{'Familienaam'|t}}</p>
                        <div class="box__info">
                            <p>{{ item.altLastName }}</p>
                        </div>
                    </div>
                    <div class="box__column box__column--2">            
                        <p>{{'Geboortedatum'|t}}</p>
                        <div class="box__info">
                            <p>{{ item.birthday|date("m/d/Y") }}</p>
                        </div>
                    </div>
                    <div class="box__column box__column--2 ">            
                        <p>{{'Lidmaatschap'|t}}</p>
                        <div class="box__info {{ activeExtraCheck ? ' box__info--prim' : ' box__info--error'}}">
                            <p>{{ item.memberRate|first.title }}</p>
                            {% if not activeExtraCheck %}
                                <p>{{ 'Nog niet betaalt'|t }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if user.organisation %}                
                    <form class="box__delete" method="post">
                        {{ csrfInput() }}
                        {{ actionInput('elements/delete') }}
                        {{ input('hidden', 'elementId', item.id) }}
                        <button class="box__function-btn box__function-btn--delete" type="submit" onclick="return confirm('Are you sure you want to delete this member?');">
                            {{ svg("assets/icons/trash.svg")|attr({class: 'box__icon-option box__icon-trash' }) }}
                            {{'Verwijder'|t}} {{ item.title }}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>