{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    {{ craft.entries().section('mailings').slug('renew-at-age').site('default').one().mailing }}
    <a class="button" href="{{ url }}">{{ craft.entries().section('mailings').slug('renew-at-age').site('default').one().textSingle }}</a>
    {{ craft.entries().section('mailings').slug('renew-at-age').site('default').one().mailing }}
{% endblock %}