{% extends "email/base.twig" %}
{% block content %}   
    {% set mailingContent = craft.entries().section('mailings').slug('activation-ind-ad').site('usersEn').one() %}
    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <ol>
        <li>
            <div>Set a password to access your group account.</div><br> 
            <a style="color: #102438;" class="button" href="{{ activationUrl }}">Choose a password</a>
        </li>
        <li style="margin-top: 25px">
            <div>Complete the payment of €10. (Note: If you’re under 31, your membership is free, and you can skip this step.)</div><br>
            <a style="color: #102438;" class="button" href="{{ url }}">To the payment page</a>
        </li>
    </ol>
    {{ mailingContent.mailing2 }}
{% endblock %}
