{% extends "email/base.twig" %}
{% block content %}    
    {% set mailingContent = craft.entries().section('mailings').slug('activation-group').site('usersEn').one() %}
    <p>Hi {{ name }},</p>
    {{ mailingContent.mailing }}
    <ol>
        <li>
            <div>Set a password to access your group account.</div><br> 
            <a style="color: #102438;" class="button" href="{{ activationUrl }}">Choose a password</a>
        </li>
        <li style="margin-top: 25px">
            <div>Complete the payment. For just €30, your group will enjoy a full year of Hi Flanders membership, including all benefits.</div><br>
            <a style="color: #102438;" class="button" href="{{ url }}">Go to the payment page</a>
        </li>
    </ol>
    {{ mailingContent.mailing2 }}
{% endblock %}