<div id="payment" class="box box--total" :class="openTotal ? 'box--total-open' : ''" x-data="{openTotal: true}">
    <div class="box__heading box__heading--center" @click="openTotal = ! openTotal">
        <h1>{{'Totaal'|t}}</h1>
        {{ svg("assets/icons/chevron-down.svg")|attr({class: 'box__icon box__icon--chevron' }) }}
    </div>
    <div class="box__content" x-collapse x-show="openTotal">
        <div class="box__wrapper">     
            <div class="box__column box__column--4">            
                <div class="box__info {{ activeUserMember or userRate.price.amount is same as "0"  ? 'box__info--sec'}}">
                    <p>{{ userRate.title }}</p>
                    {% if userRate.price.amount is same as "0" %}
                        <p>{{ 'Gratis'|t }}</p>
                    {% else %}
                        <p>{{ activeUserMember ? 'Reeds betaald'|t : userRate.price|money }}</p>
                    {% endif %}
                </div>
            </div> 
            {% if extraMembers is defined and extraMembers %}            
                {% for extra in extraMembers %}
                    {% set activeExtraMember = extra.paymentDate and user.memberDueDate and (now >= extra.paymentDate) and (now <= user.memberDueDate) %}
                    {% set rate = extra.memberRate.one() %}
                    <div class="box__column box__column--4">            
                        <div class="box__info {{ activeExtraMember or rate.price.amount is same as "0" ? 'box__info--sec' }}">
                            <p>{{ rate.title }}</p>
                            {% if rate.price.amount is same as "0" %}
                                <p>{{'Gratis'|t}}</p>
                            {% else %}
                                <p>{{activeExtraMember ? 'Reeds betaald'|t : rate.price|money }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if user.requestPrint %}
                <div class="box__column box__column--4">     
                    <div class="box__info {{ user.payedPrintDate and user.payedPrintDate <= now ? 'box__info--sec' }}">
                        <p>{{ cardRate.title }}</p>
                        <p>{{ user.payedPrintDate and user.payedPrintDate <= now ? 'Reeds betaald'|t : cardRate.price|money }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if totalPrice and totalPrice.amount > 0 %}
            <div class="box__column box__column--total box__column--2">            
                <p>{{'Totaal'|t}}:</p>
                <p>{{ totalPrice|money }}</p>
            </div>
            <form  method="post">
                {{ csrfInput() }}
                {{ actionInput('membership-payments/payment/initiate-payment') }} 
                <button class="btn" type="submit" class="pay-button">{{'Betaal'|t}}</button>
            </form>
        {% endif %}
    </div>
</div> 