{% macro errorList(errors) %}
{% if errors %}
    {{ ul(errors, {class: 'errors'}) }}
{% endif %}
{% endmacro %}
 
{% set minDate = now|date_modify('-18 years')|date("Y-m-d") %}

<div class="box-container" x-data="{ openForm: false }">
    <div class="formbox formbox--wider formbox--member" :class="openForm ? 'formbox--member-open' : ''">
        <button @click="openForm = ! openForm" class="form__heading box__add">{{ svg("assets/icons/add.svg")|attr({class: 'box__icon box__icon--add' }) }} {{'Kind toevoegen'|t}}</button>
        <form x-collapse x-show="openForm" class="formbox__form" method="post" accept-charset="UTF-8">
            {% set errors = user.getErrors() %}
            {{ csrfInput() }}
            {{ actionInput('entries/save-entry') }}

            {{ input('hidden', 'sectionId', craft.entries.section('extraMembers').sectionId|first) }}
            {{ input('hidden', 'fields[parentMember][]', user.id) }}
            {# {{ input('hidden', 'fields[memberDueDate]', now|date_modify('+1 year')|date('d-m-Y')) }} #}

            <div class="formbox__column formbox__column--full">    
                <p>{{'Voeg kinderen onder de 18 jaar toe. Kinderen die 18 jaar zijn of ouder moeten een eigen account aanmaken.'|t}}</p>
            </div>

            <div class="formbox__column">                
                <label class="formbox__label" for="alt-first-name">{{'Voornaam'|t}}</label>
                {{ input('text', 'fields[altFirstName]', null, {
                    id: 'alt-first-name',
                    placeholder: 'Voornaam'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column">                
                <label class="formbox__label" for="alt-sur-name">{{'Familienaam'|t}}</label>
                {{ input('text', 'fields[altLastName]', null, {
                    id: 'alt-sur-name',
                    placeholder: 'Familienaam'|t,
                    required: true
                }) }}
            </div>
            <div class="formbox__column--full">                
                <label class="formbox__label" for="birthday">{{'Geboortedatum'|t}}</label>
                {{ input('text', 'fields[birthday]', null, {
                    id: 'birthday',
                    placeholder: 'Geboortedatum'|t,
                    onFocus: "(this.type = 'date', this.placeholder = '')",
                    required: true,
                    min: minDate
                }) }}
            </div>   
            <div class="formbox__column--full">                
                <label class="formbox__label" for="country">{{'Land'|t}}</label>
                {{ input('text', 'fields[country]', 'België'|t, {
                    id: 'country',
                    placeholder: 'Land'|t,
                    required: true,
                    readonly: true
                }) }}
            </div>   
            <div class="formbox__column">                
                <label class="formbox__label" for="street">{{'Straat'|t}}</label>
                {{ input('text', 'fields[street]', null, {
                    id: 'street',
                    placeholder: 'Straat'|t,
                    required: true,
                }) }}
            </div>   
            <div class="formbox__column--1-4">                
                <label class="formbox__label" for="streetNr">{{'Nr'|t}}</label>
                {{ input('text', 'fields[streetNr]', null, {
                    id: 'streetNr',
                    placeholder: 'Nr'|t,
                    required: true,
                }) }}
            </div>   
            <div class="formbox__column--1-4">                
                <label class="formbox__label" for="bus">{{'Bus'|t}}</label>
                {{ input('text', 'fields[bus]', null, {
                    id: 'bus',
                    placeholder: 'Bus'|t,
                }) }}
            </div>   
            <div class="formbox__column">                
                <label class="formbox__label" for="postalCode">{{'Postcode'|t}}</label>
                {{ input('text', 'fields[postalCode]', null, {
                    id: 'postalCode',
                    placeholder: 'Postcode'|t,
                    required: true,
                }) }}
            </div>   
            <div class="formbox__column">                
                <label class="formbox__label" for="city">{{'Stad'|t}}</label>
                {{ input('text', 'fields[city]', null, {
                    id: 'city',
                    placeholder: 'Stad'|t,
                    required: true,
                }) }}
            </div>   
            <button class="formbox__button formbox__button--sec formbox__column--full">{{'Voeg toe'|t}}</button>
        </form>
    </div>
</div>
<div class="box-container" x-data="{ openForm: $persist(false) }">
    <div class="formbox formbox--wider formbox--member" :class="openForm ? 'formbox--member-open' : ''">
        <button @click="openForm = ! openForm" class="form__heading box__add">{{ svg("assets/icons/add.svg")|attr({class: 'box__icon box__icon--add' }) }} {{'Kind koppelen'|t}}</button>
        <form x-collapse x-show="openForm" class="formbox__form" method="post" accept-charset="UTF-8">
            {% if craft.app.session.hasFlash('error') %}
                <div class="formbox__error formbox__column--full">
                    <p class="formbox__errorText">
                        {{ craft.app.session.getFlash('error') }}
                    </p>
                </div>
            {% endif %}

            {% if craft.app.session.hasFlash('notice') %}
                <div class="formbox__notice formbox__column--full">
                    <p class="formbox__noticeText">{{ craft.app.session.getFlash('notice') }}</p>
                </div>
            {% endif %}

            {{ csrfInput() }}
            {{ actionInput('rate-extra-member/connect/save') }}
            {{ redirectInput(craft.app.request.url) }}

            {{ input('hidden', 'sectionId', craft.entries.section('extraMembers').sectionId|first) }}

            <div class="formbox__column formbox__column--full">    
                <p>{{'Je kunt een bestaand kind toevoegen aan jouw account met het KidsID.'|t}}</p>
            </div>
            
            {% set entryId = craft.app.request.getParam('entryId') ?? null %}
            {% set existingParentMembers = craft.entries.id(entryId).one().parentMember.all() ?? [] %}

            {% for member in existingParentMembers %}
                {{ input('hidden', 'fields[parentMember][]', member.id) }}
            {% endfor %}

            {{ input('hidden', 'fields[parentMember][]', user.id) }}

            <div class="formbox__column">                
                <label class="formbox__label" for="kid-id">{{'KidId'|t}}</label>
                {{ input('text', 'entryId', null, {
                    id: 'kid-id',
                    placeholder: 'KidId'|t,
                    required: true
                }) }}
            </div>   
            <button class="formbox__button formbox__button--sec formbox__column">{{'Koppelen'|t}}</button>
        </form>
    </div>
</div>